---
// COMPONENTS //
import Button from "@/components/Button.astro";
import Image from "astro/components/Image.astro";
import NewsLetterImage from "@/assets/images/news-letter.png";
---

<!-- News letter -->
<section class="bg-n-100">
  <div
    class="container mx-auto flex flex-col items-center gap-14 px-6 py-16 md:py-20 lg:flex-row lg:gap-20 lg:px-8 lg:py-28 2xl:px-0"
  >
    <div class="h-52 md:h-[430px] lg:h-auto lg:w-[40%] 2xl:w-[46%]">
      <Image
        src={NewsLetterImage}
        alt=""
        class="h-full w-full object-cover"
        width={600}
        height={430}
      />
    </div>
    <div class="flex flex-1 flex-col gap-8 md:gap-11">
      <div class="space-y-2 md:space-y-2.5">
        <!-- Eyebrow text -->
        <p class="text-n-600 text-base font-light md:text-2xl">
          News & Updates
        </p>
        <div class="space-y-1 md:space-y-3">
          <!-- Title text -->
          <p class="text-n-800 text-3xl leading-[120%] font-medium md:text-6xl">
            Don’t Miss a Moment at SAI International
          </p>

          <!-- Subtitle text -->
          <p
            class="text-n-500 font-secondary text-sm font-normal md:text-xl md:leading-[140%] lg:leading-[150%]"
          >
            Receive updates on events, achievements, and important announcements
            directly in your inbox.
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-7 md:gap-8">
        <div class="max-w-[400px] space-y-1">
          <p class="text-n-500 font-xs md:font-base">Email:</p>
          <input
            type="text"
            name="emailId"
            placeholder="Enter your Email ID"
            class="border-n-500 bg-n-50 text-n-500 placeholder-n-500 h-[50px] w-full rounded-lg border px-3 text-base font-medium focus:border-transparent focus:ring-2 focus:ring-orange-500 focus:outline-none"
            required
          />
          <p id="email-error" data-error class="hidden text-sm text-red-600">
            Enter your email ID
          </p>
        </div>

        <!-- Cta button -->
        <a href="/" data-subscribe-newsletter-button>
          <Button text="Subscribe to Newsletter" />
        </a>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const subscribeNewsletterButton = document.querySelector(
    "[data-subscribe-newsletter-button]",
  );
  if (subscribeNewsletterButton) {
    subscribeNewsletterButton.addEventListener("click", async (e) => {
      e.preventDefault();
      // Hide all previous errors
      document
        .querySelectorAll("[data-error]")
        .forEach((p) => p.classList.add("hidden"));
      const email = document.querySelector('input[name="emailId"]').value;
      if (!email) {
        document.querySelector("#email-error").classList.remove("hidden");
        return;
      }
      const response = await subcribeNewsLetterRequest({ email });
      if (response.status) {
        document.querySelector("#email-error").classList.add("hidden");
      } else {
        document.querySelector("#email-error").classList.remove("hidden");
      }
    });
  }
</script>
