---
import StoryCard from "../../components/StoryCard.astro";
---

<section>
  <!-- Container -->
  <div>
    <!-- Section Header -->
    <div>
      <p>TITLE</p>
      <p>Sub Title</p>
    </div>

    <!-- Cards Wrapper -->
    <div>
      <StoryCard />
      <StoryCard />
    </div>
  </div>
</section>
