---
// COMPONENTS //
import Breadcrumbs from "@/components/Breadcrumbs.astro";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// META //
import affiliationsMeta from "@/data/meta/about/affiliations/affiliations.json";

// SECTIONS //
import Affiliations from "@/sections/about/affiliations/Affiliations.astro";

// Prepare breadcrumb items based on personType
const breadcrumbItems = [
  { label: "About", href: `${URLS.ABOUT.ROOT}` },
  { label: "Affiliations", href: URLS.ABOUT.AFFILIATIONS.ROOT },
];
---

<Layout meta={affiliationsMeta}>
  <!-- Breadcrumbs Section -->
  <div class="bg-n-100 relative w-full overflow-hidden">
    <div class="container mx-auto px-6 pt-30 md:pt-40 2xl:px-0">
      <Breadcrumbs items={breadcrumbItems} />
    </div>
  </div>
  <Affiliations />
</Layout>
