---
// COMPONENTS //
import ArticleCard from "@/components/ArticleCard.astro";
import SectionHeaderMain from "@/components/SectionHeaderMain.astro";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// DATA //
import {
  globalPartnersContent,
  sectionHeaderContent,
} from "@/data/global-connect/global-partners";
---

<section class="bg-n-100 relative w-full overflow-hidden">
  <div
    class="container mx-auto flex flex-col gap-10 p-6 md:gap-14 md:py-9 md:pb-18 lg:gap-20 lg:pb-24"
  >
    <!-- Section header title -->
    <SectionHeaderMain {...sectionHeaderContent} />

    <!-- Global Partners Cards wrapper -->
    <div
      class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-8 xl:grid-cols-3 xl:gap-9"
    >
      <!-- Global Partners Cards -->
      {
        globalPartnersContent.map((globalPartnersContentItem, cardIndex) => (
          <div
            class="card-anim card-bottom"
            style={`--delay: ${cardIndex * 0.1}s`}
          >
            <ArticleCard
              title={globalPartnersContentItem.title}
              img={globalPartnersContentItem.img}
              href={URLS.GLOBAL_CONNECT.PARTNERS.ITEM(
                globalPartnersContentItem.id.toString(),
              )}
              description={globalPartnersContentItem.description}
              badgeText=""
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
