---
// COMPONENTS //
import Button from "../../components/Button.astro";

/* Content object for the hero */
const hero = {
  title: "Let's Start a",
  highlight: "Conversation",
  subtitle:
    "Whether it’s about admissions, school life, or something specific — we’d love to hear from you.",
  cta: {
    text: "Scroll to Contact Form",
    href: "#contact-form",
    variant: "solid",
    size: "medium",
  },
};
---

<section class="relative">
  <div
    class="flex h-[75vh] flex-col bg-[url('/images/school-bg.png')] bg-cover bg-center bg-no-repeat md:h-screen xl:flex-row"
  >
    <!-- Content wrapper -->
    <div
      class="container mx-auto flex h-[70vh] flex-col px-6 py-12 lg:h-full lg:px-14 xl:px-6"
    >
      <!-- Left column -->
      <div
        class="flex h-full w-full flex-col items-start justify-center gap-6 lg:gap-12 xl:w-1/2"
      >
        <!-- Main heading -->
        <h2
          class="text-n-800 text-4xl leading-tight font-medium md:text-6xl lg:text-7xl 2xl:text-8xl"
        >
          {hero.title}
          <span class="text-orange-500">{hero.highlight}</span>
        </h2>

        <!-- Supporting text -->
        <p class="text-n-600 text-base leading-normal font-medium lg:text-xl">
          {hero.subtitle}
        </p>
        <!-- Call to action button  -->
        <Button text={hero.cta.text} />
      </div>
    </div>

    <!-- Inline image (mobile & tablet) -->
    <div class="block self-end xl:hidden">
      <img src="/images/contact-hero.png" alt="" />
    </div>
  </div>

  <!-- Right aligned image -->
  <img
    class="absolute right-0 bottom-0 hidden w-[50%] xl:block"
    src="/images/contact-hero.png"
  />
</section>
