---
// COMPONENTS //
import Button from "../../components/Button.astro";
---

<section
  class="bg-n-50 relative bg-[url('/images/school-background.png')] bg-cover bg-center pt-24 md:pt-36"
>
  <!-- Main Content -->
  <div
    class="relative z-10 container mx-auto mb-15 px-4 pt-10 md:mb-30 md:px-6 lg:pb-[91px] xl:mb-0 2xl:px-0 2xl:pt-32"
  >
    <div class="flex flex-col lg:flex-row lg:items-center lg:gap-0">
      <!-- Left column -->
      <div class="flex flex-col gap-6 md:gap-7">
        <!-- Hero Text -->
        <div class="w-full md:w-[80%] lg:w-[50%] lg:text-xl xl:w-[52%]">
          <h2
            class="animatedText text-n-800 text-4xl leading-tight font-medium md:text-6xl lg:text-7xl 2xl:text-8xl"
          >
            Let’s Start a Conversation
          </h2>
        </div>

        <!-- Supporting text -->
        <p
          class="text-n-600 w-full text-base leading-normal font-medium md:w-[80%] lg:w-[50%] lg:text-xl xl:w-[45%]"
        >
          Whether it’s about admissions, school life, or something specific —
          we’d love to hear from you.
        </p>

        <!-- Call to action button  -->
        <Button text="Scroll to Contact Form" />
      </div>
    </div>
  </div>

  <!-- Inline image (mobile & tablet) -->
  <div
    class="relative flex items-center justify-center lg:absolute lg:right-0 lg:bottom-0 lg:w-[50%] lg:justify-end 2xl:w-[55%]"
  >
    <div class="relative">
      <!-- Main Parent image -->

      <div class="relative w-screen lg:w-full">
        <img
          src="/images/contact-hero.png"
          alt=""
          class="h-full origin-top-left scale-105 object-cover lg:scale-100"
          loading="lazy"
        />
      </div>

      <!-- Decorative vectors -->
      <div
        class="absolute -top-[31px] left-[47%] h-[100px] w-[75%] -translate-x-1/2 md:h-[170px] md:w-[80%]"
      >
        <svg
          class="absolute bottom-0 left-0 size-9 sm:size-14 md:size-20"
          xmlns="http://www.w3.org/2000/svg"
          width="68"
          height="71"
          viewBox="0 0 68 71"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.03791 62.2244C5.14833 60.4977 1.79126 57.2724 2.72214 55.1613C7.30444 54.6694 11.5472 63.7863 19.7226 64.6325C22.702 64.9365 22.6274 63.6767 25.1237 62.593C25.9025 62.8139 27.9392 63.3256 28.2257 63.7977C26.4607 68.5464 20.776 68.5391 18.1301 68.1192C14.406 67.5377 10.3399 65.2417 7.03791 62.2244ZM30.9168 36.5524C22.4709 28.8347 24.9511 18.3781 34.7426 27.3253C38.9035 31.1275 44.9672 41.0496 44.8895 45.0442C39.4421 42.9757 35.6503 40.8777 30.9168 36.5524ZM16.7182 52.0907C14.8381 50.3728 13.2605 48.458 12.041 46.3622C11.4169 45.3013 11.1309 44.6369 10.7538 43.5738C10.1775 41.9431 10.0049 41.7679 10.3437 40.7456C15.1309 41.5625 22.5596 50.2784 23.8607 55.4279L23.9287 57.1549C21.2202 55.5386 19.2567 54.4104 16.7182 52.0907ZM50.7688 52.2743C50.1257 56.5234 46.0138 60.3718 42.1428 61.8291C30.9889 66.0248 15.9232 59.4957 8.45809 49.5549C2.81436 42.067 4.07995 29.0109 15.4051 37.0463C19.0919 39.6617 22.9631 44.3558 25.1013 47.9568C27.0308 51.1921 27.855 52.839 28.7521 56.3225C28.832 56.6759 29.0029 57.4279 29.0301 57.628C29.1833 58.8019 29.3164 57.8896 28.8857 59.1084L26.217 58.1769C25.8078 56.8041 25.9549 55.5891 25.236 53.6353C21.4787 43.2972 6.67038 33.516 8.47588 42.5788C9.05128 45.4179 11.0913 48.6664 13.3593 51.2821C18.4744 57.1829 25.5431 59.8918 31.5839 60.6976C38.1221 61.5724 43.6427 61.1843 47.015 52.0511C48.2568 52.187 49.6391 52.1883 50.7688 52.2743ZM35.1031 11.4269C30.4315 10.9434 31.6458 -1.82662 45.013 3.97401C52.098 7.04834 58.5623 13.849 62.1801 20.4495C70.48 35.5518 61.8236 52.2115 47.7533 50.3424C33.3787 48.423 13.8001 30.8305 21.2878 21.4097C29.2436 11.4001 49.1099 32.3574 50.8008 44.5926L50.8127 45.8828C49.1796 46.0028 48.761 46.0584 47.1328 45.6746C45.2493 39.7827 44.5297 36.584 40.1724 30.6396C36.9657 26.2724 28.9275 18.6644 25.024 23.4919C23.367 25.5352 23.8624 29.2475 24.761 31.3304C27.9339 38.6285 38.5941 45.916 46.9364 46.8095C49.1157 47.0309 52.7662 47.1946 54.5959 46.7637C57.2326 46.1588 60.0544 42.9366 61.2318 40.4024C66.0484 29.9953 57.5922 16.3097 48.6226 9.77844C45.9734 7.84829 43.2466 6.23288 40.5192 6.03637C34.9905 5.6284 35.2954 10.814 35.1031 11.4269ZM37.5224 9.02852C43.2665 3.6048 61.8416 21.069 60.6602 35.3937C60.3391 39.2712 57.7967 44.2383 53.0046 45.3622C52.0417 43.273 52.3184 40.8621 49.4409 35.4639C44.1151 25.4625 29.45 11.9216 21.1528 18.7978C14.6572 24.2007 18.7832 33.3686 24.0252 39.0349C28.1519 43.5068 34.0847 47.6312 39.6286 50.0157C41.56 50.8343 43.3987 51.2176 45.0511 51.9389C42.8055 58.6318 35.5068 60.8124 31.0634 59.2932C29.0654 50.6328 27.7028 49.8434 22.8755 42.8036C17.0598 34.3349 6.23798 29.3706 3.69094 37.1024C3.13451 38.7845 3.37737 39.9177 3.40125 41.2714C3.43865 43.9518 4.34455 46.8125 6.23948 49.6831C10.865 56.7138 16.6756 58.3082 22.765 61.8396C18.171 65.1423 11.4738 58.2515 8.58734 55.9293C1.46575 50.1929 -2.05752 54.7193 2.7882 60.5317C7.82642 66.555 16.967 71.9984 24.1011 69.6147C27.6458 68.4376 28.2052 67.2314 30.4075 64.0739C33.9648 65.4319 40.4822 64.8155 44.3772 62.8719C48.2721 60.9283 51.2164 57.7829 52.4059 53.4723C52.9493 51.4978 53.313 52.058 55.025 51.4493C65.6258 47.7823 69.3423 35.4937 66.2782 25.5086C60.0302 5.11359 34.3554 -7.14913 31.0293 6.09208C30.5471 7.9997 30.4342 11.2087 33.1609 12.8241C34.4209 13.5724 35.6039 13.6194 36.6999 12.7458C38.299 11.4557 37.0106 10.8917 37.5224 9.02852Z"
            fill="#CC554D"
            stroke="#CC554D"></path>
        </svg>

        <svg
          class="absolute -top-[15%] left-[40%] size-14 -translate-x-1/2 sm:size-24 md:-top-[40%] md:size-32"
          xmlns="http://www.w3.org/2000/svg"
          width="125"
          height="92"
          viewBox="0 0 125 92"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M66.121 66.872C65.2614 64.6674 61.0586 60.3542 59.3393 58.1497C57.9065 56.3285 53.6082 50.7692 52.2709 49.9066C49.9785 52.3028 39.376 78.7574 40.8088 82.4956C43.0057 88.2466 54.1813 80.962 56.0917 79.4284C59.5303 76.7446 63.6376 71.0894 66.121 66.872ZM18.0755 27.4777L20.1769 21.8225C21.4187 19.4263 20.2725 21.1516 21.4187 20.2889L19.8904 25.5607C18.6487 27.8611 19.3173 26.7109 18.0755 27.4777ZM32.5943 71.8562C30.3973 70.706 27.9139 68.5014 26.1946 66.6803C24.7618 65.2426 21.7052 61.6961 21.5142 59.7791C23.4245 60.4501 25.717 64.4758 27.0542 65.8176C28.678 67.4471 31.9256 70.035 32.5943 71.8562ZM102.036 72.5272C102.418 70.1309 104.042 68.118 105.092 65.8176C105.856 64.1882 107.003 59.875 107.671 58.8206C109.009 60.9293 105.856 70.8018 102.036 72.5272ZM64.4972 7.15745C61.9183 6.96575 60.1034 5.81555 56.8558 5.7197C54.6589 5.62385 50.8382 6.77405 49.3099 6.1031C52.3665 3.32345 59.9124 4.1861 63.16 5.9114C64.6883 6.6782 63.8286 6.1031 64.4972 7.15745ZM11.6758 29.2988C9.95652 25.6565 18.0755 17.03 21.6097 15.784C19.6993 19.3304 17.4069 18.8512 13.1086 27.5735L11.6758 29.2988ZM111.779 34.8581C110.537 33.9954 107.958 28.8196 106.621 27.1901C105.188 25.5607 100.699 21.9184 100.985 20.5765C102.322 18.7553 106.812 24.698 107.576 25.7524C109.2 27.8611 111.683 31.5034 111.779 34.8581ZM104.615 77.8948C105.856 74.8276 107.958 74.54 110.537 69.2682C111.397 67.4471 111.97 65.9135 112.447 63.9007C112.638 62.8463 112.829 61.792 112.829 60.7376C112.925 58.3414 112.543 58.3414 113.402 56.9036C116.172 62.1754 112.065 70.3226 109.2 74.54C107.958 76.2653 107.194 77.3196 104.615 77.8948ZM32.9763 76.7446C27.8184 75.0192 15.8786 64.0924 15.21 58.6289C16.4517 59.1082 24.0932 69.1724 30.3973 74.3483L32.1167 75.786C32.8808 76.5528 32.4032 75.786 32.9763 76.7446ZM114.931 35.4332C112.829 31.7909 111.97 29.0113 109.773 25.6565L104.137 18.4678C102.513 14.3462 109.486 21.3433 111.397 24.5063C112.447 26.1358 115.313 32.2701 115.313 33.9954C115.408 35.4332 115.217 35.0498 114.931 35.4332ZM63.351 39.1714C65.4524 39.7465 67.5538 39.9382 67.4583 42.0469C67.3628 43.868 65.93 45.2099 63.8286 45.4975C58.4796 46.1684 58.5751 38.0212 63.351 39.1714ZM76.3414 52.9738L69.1776 66.3928C71.088 70.8018 84.556 83.6458 90.0005 86.713C91.7198 87.7673 100.125 91.6013 98.024 86.4254C97.4509 85.0835 93.7257 80.1952 92.5795 78.374C89.714 73.869 77.6787 54.0281 76.3414 52.9738ZM66.9807 64.4758C68.2224 63.709 67.9359 63.9007 69.1776 61.6961C70.7059 59.0123 73.9535 53.453 74.6221 51.1526L55.9006 50.0983C56.8558 52.8779 65.0703 60.9293 66.9807 64.4758ZM73.858 48.9481C72.7118 46.0726 67.3628 39.0755 65.1659 35.9124C63.5421 33.612 63.5421 33.3245 60.0079 33.4203C58.3841 35.529 53.2261 45.6892 53.7037 47.5103L73.858 48.9481ZM84.4605 35.4332L78.4428 48.9481C86.4663 49.3315 94.2988 49.619 102.036 49.619C106.907 49.619 122.477 51.6319 122.095 45.785C121.617 39.4589 90.1915 35.9124 84.4605 35.4332ZM49.9785 47.0311C49.5964 45.5933 41.6685 35.3373 39.9491 33.3245C31.3525 32.6535 6.99547 34.1871 2.41061 39.0755C4.98959 44.1556 17.4069 44.2514 24.1887 45.0182C28.7735 45.4975 46.6354 47.7979 49.9785 47.0311ZM76.3414 48.2771C77.6787 45.1141 81.786 38.4046 82.168 35.0498L66.4076 33.612C66.9807 35.1456 75.4818 47.5103 76.3414 48.2771ZM51.3158 44.2514C52.2709 41.5676 55.9006 35.2415 56.0917 33.1328H42.8147C43.6743 35.1456 49.5964 43.1012 51.3158 44.2514ZM58.8617 27.6694C53.0351 20.9599 39.9491 7.8284 31.8301 4.47365C27.0542 2.55665 23.9021 4.47365 26.5766 9.1703C28.678 12.9085 39.9491 30.8324 41.4774 31.5034L56.8558 31.5992L58.8617 27.6694ZM89.6184 3.8027C85.7022 4.3778 85.4156 0.927202 78.9204 5.04875C72.4252 9.07445 64.7838 21.8225 62.2048 28.7237C64.9748 33.2286 65.1659 32.0784 71.5656 32.5577C75.3863 32.9411 79.207 33.4203 83.0277 33.8037C86.5619 25.369 90.1915 14.1545 89.1408 4.28195L91.2422 4.47365C91.3378 20.5765 85.3201 31.0241 85.4156 34.0913L112.256 39.1714C113.593 39.4589 125.533 39.0755 124.482 46.6477C123.623 53.6447 110.155 52.0153 103.564 52.0153C97.5464 51.9194 83.0277 50.8651 78.1563 51.6319C82.9322 58.5331 90.0005 71.0894 95.5405 79.5242C97.3554 82.208 100.412 86.3296 101.558 89.0134L99.8388 89.9718C99.7433 89.9718 99.6478 90.0677 99.5523 90.1636C99.4568 90.1636 99.3613 90.2594 99.2657 90.3552C96.5912 92.1764 94.9674 91.8888 91.3378 90.0677C83.2187 85.9462 71.7566 75.0192 68.4135 68.6932L62.9689 75.5944C60.8676 78.0864 59.4348 79.62 56.8558 81.8246C53.7992 84.3167 44.2474 89.6843 39.6626 85.1794C33.836 79.3325 47.495 55.9451 48.6413 49.5232C39.6626 48.7564 30.9705 47.702 22.0873 46.6477C13.2997 45.6892 4.03442 45.3058 0.309219 39.0755C4.12994 31.4075 28.7735 32.2701 38.7074 31.5992C36.5105 27.5735 25.1439 12.2375 24.0932 8.0201C22.8514 3.13175 26.3856 0.927202 30.9705 2.17325C35.8419 3.4193 43.4833 9.84125 46.8264 12.6209C51.7934 16.8383 54.8499 20.6723 58.8617 24.698C59.8169 25.7524 59.1482 25.1773 60.0079 25.5607C61.9183 22.5893 63.4465 19.0429 65.2614 16.0715C68.7 10.4164 73.858 3.32345 79.8756 0.831352C83.4098 -0.606398 89.8095 -0.510548 89.6184 3.8027Z"
            fill="#CC554D"></path>
        </svg>

        <svg
          class="absolute right-[6%] bottom-[38%] size-8 sm:size-14 md:size-18"
          xmlns="http://www.w3.org/2000/svg"
          width="53"
          height="59"
          viewBox="0 0 53 59"
          fill="none"
        >
          <path
            d="M16.2441 1.15234C16.5938 1.08872 17.0493 1.09042 17.5527 1.12891C18.0649 1.16808 18.6604 1.24798 19.3037 1.3584C20.5907 1.57932 22.0954 1.92514 23.5625 2.32031C25.0297 2.7155 26.4694 3.16304 27.625 3.58984C28.2021 3.803 28.7156 4.01308 29.1289 4.21191C29.527 4.40342 29.8823 4.60721 30.1006 4.81836L30.2588 4.97168L30.252 5.19238C30.2244 6.15187 29.53 6.87523 28.9268 7.44336C28.5963 7.75459 28.2924 8.01731 27.9971 8.31348C27.818 8.49305 27.6627 8.66939 27.5322 8.84375C27.8655 9.14114 28.3313 9.51124 28.9092 9.95801C29.6664 10.5434 30.596 11.2462 31.5928 12.0479C33.5862 13.651 35.8837 15.6737 37.7461 18.0449L38.334 18.7705C39.652 20.3777 40.6202 21.4484 42.0537 23.6553C46.3995 30.3457 49.2962 36.4734 50.9316 44.9033L51.0947 45.7422C51.2765 46.7252 51.5012 48.0961 51.6699 49.4551C51.7824 50.3608 51.8714 51.2688 51.9053 52.0576C51.9385 52.8299 51.9227 53.5429 51.7988 54.0264L51.7979 54.0312C51.5865 54.8242 51.0651 55.3128 50.4717 55.6514C49.9046 55.9748 49.2066 56.194 48.6201 56.4092L48.6162 56.4102C48.0204 56.6231 47.4212 56.8231 46.8584 57.0645L46.8438 57.0703L46.8301 57.0752C46.5167 57.1872 46.4622 57.21 46.4238 57.2334C46.4091 57.2424 46.3899 57.256 46.3369 57.2998C46.2873 57.3408 46.2092 57.4079 46.1016 57.4941C46.0865 57.5062 46.0748 57.5186 46.0635 57.5283C46.0625 57.5381 46.0631 57.5485 46.0615 57.5586C46.0383 57.7078 45.9575 57.8118 45.8867 57.873C45.7857 57.9604 45.6638 57.9939 45.6377 58.002C45.5396 58.0321 45.3699 58.0714 45.1123 58.1309L44.7178 58.2227L44.5459 57.8555C44.3722 57.4829 44.2362 56.9356 44.1221 56.3418C44.0056 55.7356 43.9048 55.0349 43.8135 54.3301C43.6282 52.8997 43.4867 51.4825 43.3438 50.6641L43.1348 49.5527C40.841 38.0569 34.5821 26.17 26.2568 18.5166L26.2549 18.5156C25.9688 18.2506 25.6311 17.9205 25.2725 17.5713C24.9114 17.2198 24.5255 16.8452 24.1357 16.4834C23.4561 15.8525 22.7973 15.2924 22.2607 14.958C21.801 15.2865 21.0725 15.8113 20.3701 16.2539C19.9429 16.5231 19.5043 16.7757 19.125 16.9404C18.9367 17.0222 18.7426 17.0914 18.5596 17.125C18.3936 17.1555 18.1418 17.1757 17.9131 17.0449L17.8408 17.0029L17.7861 16.9404C17.6709 16.8093 17.5873 16.6353 17.5234 16.4756C17.4551 16.3047 17.3902 16.1 17.3281 15.8721C17.2037 15.4154 17.0809 14.8311 16.9629 14.167C16.7265 12.8365 16.502 11.1495 16.3145 9.44727C16.1268 7.74394 15.9756 6.01712 15.8867 4.60449C15.7995 3.21732 15.7678 2.0714 15.8389 1.57324L15.8896 1.2168L16.2441 1.15234ZM10.2451 17.1914L19.0527 17.5244L19.2793 17.5332L19.4229 17.71C19.5209 17.8316 19.6377 18.0597 19.7559 18.3047C19.8854 18.5733 20.0479 18.931 20.2363 19.3623C20.6136 20.2258 21.1041 21.4016 21.6719 22.79C22.8079 25.5683 24.256 29.2105 25.7207 32.9424C28.6493 40.404 31.6521 48.2355 32.3818 50.2383L32.3867 50.252C32.4914 50.5662 32.576 50.8637 32.6729 51.1152L32.7754 51.3506L32.7842 51.3682L32.791 51.3857C32.8836 51.6138 32.9447 51.7661 32.9873 51.8721C33.1402 51.9361 33.2924 52.0503 33.4561 52.2041C34.1043 52.8029 34.5852 53.8681 34.4873 54.9453L34.4639 55.21L34.2305 55.3379C34.0746 55.4236 33.8637 55.4962 33.6445 55.5586C33.416 55.6237 33.1431 55.6872 32.8438 55.749C32.2444 55.8728 31.5173 55.992 30.7803 56.0918C29.3288 56.2882 27.7555 56.4223 27.0449 56.3535L26.7422 56.3242L26.6289 56.042C25.5477 53.3372 23.6835 49.9494 22.1641 47.0312L21.5371 45.8135C21.2363 45.222 20.9985 44.7049 20.7949 44.2598C20.589 43.8097 20.424 43.4454 20.2607 43.1387C19.9418 42.5394 19.6678 42.2311 19.2275 42.0381C18.7454 41.8268 18.0085 41.7282 16.6914 41.7314C15.4431 41.7345 13.747 41.8264 11.3662 41.9531C11.1746 42.5121 11.039 43.2408 10.9434 44.0898C10.8314 45.0835 10.7778 46.2016 10.7363 47.3359C10.6951 48.4629 10.6654 49.6123 10.6025 50.6396C10.54 51.6622 10.4422 52.6065 10.252 53.3232L10.167 53.6455L9.83691 53.6904C9.54821 53.7298 8.88854 53.7118 8.11328 53.6602C7.31368 53.6069 6.3286 53.5136 5.35156 53.3848C4.37716 53.2563 3.3969 53.0905 2.61133 52.8906C2.21993 52.791 1.86216 52.679 1.57227 52.5527C1.30673 52.437 1.00512 52.2715 0.835938 52.0176L0.832031 52.0117L0.828125 52.0049C0.775714 51.9209 0.760979 51.842 0.755859 51.8115C0.749367 51.7728 0.7474 51.739 0.74707 51.7168C0.74641 51.6721 0.750262 51.6285 0.753906 51.5947C0.761468 51.5247 0.775556 51.4395 0.792969 51.3477C0.82839 51.1608 0.885657 50.9037 0.959961 50.5908C1.10916 49.9627 1.33337 49.0834 1.61035 48.0312C2.16484 45.9249 2.933 43.1107 3.73535 40.1953C5.34153 34.3591 7.08213 28.1272 7.53809 26.3027C8.19085 23.649 8.91292 19.8827 9.75488 17.5234L9.87793 17.1777L10.2451 17.1914ZM18.2666 3.67676C18.3149 4.9513 18.4461 7.09328 18.6484 9.16699C18.7674 10.3855 18.9096 11.5724 19.0693 12.541C19.1492 13.0255 19.2325 13.4494 19.3184 13.792C19.3396 13.8769 19.3604 13.9552 19.3809 14.0264C19.7209 13.8119 20.0711 13.5397 20.4648 13.2471C21.0037 12.8465 21.6346 12.4053 22.3359 12.2549L22.4922 12.2217L22.6387 12.2852C23.1709 12.5151 23.9075 13.06 24.6943 13.7188C25.4976 14.3912 26.4037 15.2258 27.2861 16.0801C29.0452 17.7831 30.7471 19.6001 31.3916 20.417C32.6278 21.9839 33.7223 23.2914 34.9785 25.0928C40.8707 33.3806 45.1852 43.6249 46.0391 54.9482C46.1589 54.9192 46.296 54.8832 46.4482 54.8359C46.8444 54.7129 47.3003 54.5418 47.749 54.3516C48.1973 54.1615 48.6312 53.9553 48.9854 53.7666C49.243 53.6293 49.4364 53.5115 49.5615 53.4238C49.6597 52.7319 49.6373 51.7356 49.5146 50.5459C49.3824 49.2634 49.142 47.8011 48.8555 46.3389C48.2821 43.4131 47.5282 40.52 47.0977 39.125V39.124C43.7228 28.6675 37.6343 20.2247 29.6006 13.4209C28.9076 12.8498 27.8107 12.0782 26.7959 11.3271C26.296 10.9572 25.8178 10.5935 25.4365 10.2725C25.2461 10.1121 25.0741 9.95701 24.9326 9.81348C24.797 9.67587 24.6646 9.52406 24.5791 9.37012L24.4766 9.18555L24.5371 8.9834C24.7642 8.22627 25.3845 7.54236 25.9199 6.99121C26.2067 6.69604 26.465 6.44406 26.7012 6.19043C26.7736 6.11263 26.8382 6.03812 26.8975 5.96875C26.5731 5.81635 26.1406 5.64422 25.6182 5.4668C24.8078 5.19161 23.8328 4.91225 22.8301 4.6543C21.1406 4.21969 19.4007 3.85433 18.2666 3.67676ZM11.3496 19.4883C10.6555 21.9309 10.1078 24.7173 9.46484 27.291L9.46387 27.2959L5.30859 43.2188L5.30664 43.2275C5.01468 44.271 4.51815 45.7841 4.08301 47.2236C3.69553 48.5055 3.35582 49.7278 3.21094 50.6045C3.39622 50.6714 3.63779 50.7431 3.93262 50.8105C4.40915 50.9196 4.97624 51.0143 5.5625 51.0938C6.48348 51.2185 7.43224 51.3009 8.12012 51.3408C8.15933 50.0486 8.26688 47.9183 8.43945 45.8369C8.53852 44.6421 8.65908 43.4574 8.7998 42.4531C8.9383 41.4649 9.10291 40.6036 9.30273 40.0859L9.38965 39.8604L9.62109 39.7881C9.98796 39.6742 10.5886 39.6105 11.2539 39.5693C11.9379 39.527 12.7486 39.5065 13.5693 39.4961C15.2354 39.4749 16.897 39.4955 17.7754 39.4746H17.7812C19.519 39.4534 20.5634 39.7119 21.3076 40.4307C21.6655 40.7764 21.925 41.2025 22.1641 41.6709C22.3933 42.1201 22.6449 42.6961 22.9287 43.2842L28.332 54.0586L31.6621 53.5459C31.4856 53.1428 31.2729 52.687 31.0449 52.2031C30.7037 51.4788 30.3336 50.6972 30.0371 49.9766L30.0361 49.9727L24.7178 36.752L24.7158 36.7471C24.1352 35.253 23.5544 33.8001 22.9727 32.3447C22.392 30.892 21.8104 29.4365 21.2285 27.9395C20.6032 26.3959 20.0613 24.9782 19.4795 23.4395V23.4385C19.3581 23.1283 19.2388 22.7448 19.1182 22.3584C18.9943 21.9616 18.8659 21.5509 18.7207 21.1602C18.575 20.7679 18.4193 20.414 18.2471 20.1309C18.1048 19.897 17.9653 19.74 17.8369 19.6426L11.3496 19.4883ZM13.3633 26.9199C13.8409 26.8091 14.4157 26.811 15.0059 27.0078C16.2105 27.4096 17.3695 28.5778 17.9795 30.9521C18.4953 32.934 19.1762 34.4983 19.5547 35.6455C19.6466 35.9242 19.7228 36.1852 19.7666 36.416C19.8082 36.6355 19.833 36.8849 19.7744 37.1133C19.7048 37.3838 19.5185 37.6112 19.2158 37.7012C18.9666 37.7752 18.6946 37.7381 18.4492 37.6738L18.4404 37.6709L18.4316 37.6689C18.1958 37.5976 18.0114 37.5275 17.8721 37.4531C17.7428 37.3841 17.5826 37.2747 17.4941 37.0889C17.4716 37.0414 17.4567 36.9951 17.4473 36.9512C17.4106 36.9412 17.3674 36.929 17.3164 36.917C16.9506 36.831 16.2984 36.718 15.1494 36.5625V36.5635C13.8425 36.4 12.4722 36.2715 11.1924 35.9727L10.8594 35.8945L10.8105 35.5557C10.798 35.4674 10.8006 35.365 10.8047 35.2832C10.8093 35.1904 10.8194 35.0795 10.832 34.9561C10.8573 34.7083 10.8972 34.3917 10.9482 34.0332C11.0505 33.3152 11.1972 32.4121 11.3535 31.5176C11.5099 30.6231 11.677 29.7323 11.8213 29.04C11.8933 28.6947 11.9605 28.394 12.0186 28.165C12.0474 28.0512 12.076 27.9494 12.1025 27.8662C12.1224 27.8041 12.1598 27.6906 12.2197 27.6006L12.2256 27.5908L12.2324 27.5811C12.4732 27.2541 12.9035 27.0266 13.3633 26.9199ZM14.1562 29.168C14.1427 29.1824 14.1158 29.2219 14.082 29.3154C14.0159 29.4984 13.9734 29.7608 13.9326 30.1045C13.8945 30.4256 13.8584 30.8164 13.792 31.1709L13.791 31.1699C13.7035 31.7312 13.5428 32.359 13.4082 32.9375C13.3094 33.3625 13.2244 33.7672 13.1758 34.1396L16.8086 34.6367C16.5755 33.7944 16.3057 32.7947 15.9844 31.8535C15.7752 31.2409 15.5512 30.6792 15.3135 30.2324C15.0676 29.7704 14.8409 29.4975 14.6562 29.3828L14.6533 29.3809C14.4799 29.2712 14.3524 29.2143 14.2637 29.1875C14.2033 29.1693 14.1696 29.1674 14.1562 29.168Z"
            fill="#CC554D"
            stroke="#CC554D"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
