---
import { URLS } from "@/infrastructure/constants/urls";
import Image from "astro/components/Image.astro";
---

<footer>
  <div class="font-secondary px-1 pt-8 pb-7 md:px-5 lg:px-6 lg:pt-28">
    <div class="rounded-3xl bg-[url('/images/footer-bg.png')] bg-center">
      <div
        class="relative container mx-auto flex flex-col gap-9 px-2 py-12 pb-120 sm:py-12 md:gap-11 md:px-7 lg:gap-7 lg:py-10 xl:flex-row xl:gap-14 xl:px-4 2xl:gap-20"
      >
        <!-- Logo + Card wrapper -->
        <div
          class="flex w-full flex-col items-center gap-9 md:gap-14 lg:w-[58%] lg:items-start xl:w-[30%]"
        >
          <!-- Brand logo -->
          <Image
            src="/images/sai-brand-logo.png"
            alt="SAI logo"
            class="w-[188px]"
            width={188}
            height={60}
          />

          <!-- Contact Box wrapper -->
          <div
            class="fade-in fade-in-left relative z-2 w-full overflow-hidden rounded-[20px] bg-violet-700 px-8 pt-16 pb-8 sm:w-[70%] lg:w-full"
          >
            <!-- Slanted label -->
            <div
              class="absolute -top-[8px] -left-[12px] -rotate-6 rounded-lg bg-orange-500 px-10 pt-4 pb-1"
            >
              <span class="text-n-50 text-base font-medium md:text-xl">
                Reach Us
              </span>
            </div>

            <ul class="space-y-3">
              <!-- Phone box wrapper -->
              <li class="flex items-center gap-3">
                <svg
                  class="size-5 text-orange-500"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.5095 0.672694C13.8989 0.745934 13.3408 0.969574 12.8838 1.32413C12.4519 1.65925 10.563 3.37673 10.3554 3.62311C9.99534 4.05037 9.81976 4.53751 9.81962 5.10951C9.81948 5.73259 10.023 6.21871 10.5316 6.80985C10.6074 6.89803 10.6807 6.98439 10.6944 7.00173C10.7153 7.02833 10.6847 7.08419 10.4982 7.35875C9.59422 8.68999 8.6902 9.59517 7.37434 10.4866L7.05916 10.7001L6.81432 10.4939C6.51054 10.2381 6.3693 10.1416 6.13392 10.029C5.63016 9.78781 5.08926 9.73771 4.52952 9.88031C4.31866 9.93405 3.96688 10.107 3.76706 10.2551C3.49158 10.4594 1.90788 12.1668 1.36402 12.8458C0.848644 13.4894 0.606144 14.2524 0.675764 15.0114C0.726824 15.568 0.865724 15.9738 1.15392 16.4084C1.35696 16.7146 1.64744 16.9927 2.13346 17.3463C2.35562 17.5079 2.70662 17.772 2.91346 17.9331C3.57092 18.4452 4.04034 18.724 4.62196 18.9475C6.21588 19.5602 7.99916 19.4455 9.50952 18.6331C9.93556 18.404 10.2825 18.1449 11.3195 17.2812C13.3874 15.5591 14.685 14.3091 16.1803 12.5988C17.1453 11.4951 18.1025 10.3274 18.3621 9.93729C19.4657 8.27891 19.6442 6.16551 18.8365 4.31989C18.6249 3.83629 18.3954 3.46777 17.9459 2.88951C17.792 2.69151 17.544 2.36301 17.3949 2.15951C17.0516 1.69125 16.9251 1.54155 16.7388 1.38319C16.2804 0.993494 15.7729 0.767274 15.18 0.688314C14.9874 0.662674 14.6573 0.654974 14.5095 0.672694ZM14.4635 2.12871C14.0842 2.21511 13.8931 2.33039 13.3695 2.78859C12.7616 3.32053 11.5562 4.43157 11.4444 4.56289C11.287 4.74797 11.228 4.95805 11.2607 5.21799C11.2946 5.48817 11.3666 5.59637 11.929 6.22199C12.2697 6.60097 12.3048 6.66365 12.3159 6.91267C12.3257 7.13043 12.3054 7.18475 12.0762 7.55603C10.9697 9.34795 9.82956 10.5525 8.18492 11.6672C7.78204 11.9402 7.35364 12.2069 7.23556 12.2582C7.05578 12.3363 6.82996 12.3275 6.64524 12.2352C6.59654 12.2109 6.42908 12.0744 6.2731 11.9319C5.88308 11.5755 5.6548 11.3878 5.54362 11.3321C5.24018 11.1801 4.83856 11.2192 4.6012 11.4239C4.384 11.6112 3.00026 13.1199 2.55084 13.6595C2.2043 14.0755 2.08112 14.4122 2.10504 14.878C2.1297 15.3581 2.3287 15.7098 2.75104 16.0195C3.00044 16.2024 3.74394 16.7606 4.02854 16.9786C4.28612 17.1759 4.49396 17.3073 4.75392 17.4372C6.10344 18.1116 7.74124 18.0449 9.00952 17.264C9.28754 17.0928 9.39974 17.0064 10.1695 16.3709C12.6912 14.2892 14.0884 12.9015 16.1116 10.4695C16.8492 9.58289 17.0657 9.30699 17.2352 9.03801C17.9711 7.86991 18.1043 6.39397 17.5935 5.06807C17.414 4.60239 17.2508 4.33711 16.7207 3.64951C16.5935 3.48451 16.371 3.18711 16.2261 2.98861C15.8355 2.45327 15.6299 2.27869 15.2495 2.15963C15.0668 2.10245 14.6506 2.08607 14.4635 2.12871Z"
                    fill="currentColor"></path>
                </svg>

                <!-- Phone number -->
                <p class="font-medium">
                  <a
                    href="tel:9338169966"
                    class="text-n-50 text-base font-medium underline-offset-2 hover:underline"
                  >
                    9338169966
                  </a>
                </p>
              </li>

              <!-- Mail box wrapper -->
              <li class="flex items-center gap-3">
                <svg
                  class="size-5 text-orange-500"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.30982 1.99151C7.78447 2.04189 5.84577 2.17151 5.14393 2.27003C3.06979 2.56119 1.39471 3.99531 1.02117 5.79967C0.946654 6.15969 0.796334 7.48425 0.730674 8.35967C0.639334 9.57743 0.639254 10.4488 0.730434 11.6497C0.795674 12.5093 0.948254 13.8474 1.02117 14.1997C1.33177 15.7 2.52829 16.9509 4.17731 17.499C4.68617 17.6682 5.02913 17.731 5.81533 17.7991C8.49246 18.031 10.2186 18.0647 12.4398 17.9287C13.4188 17.8688 14.4945 17.78 14.8557 17.7293C16.3902 17.5139 17.7467 16.6607 18.4823 15.4484C18.7255 15.0475 18.8944 14.6256 18.9782 14.2097C19.0537 13.8351 19.2019 12.5212 19.2693 11.6297C19.3602 10.4279 19.3601 9.57453 19.269 8.35967C19.204 7.49403 19.052 6.15449 18.9785 5.79967C18.7315 4.60769 17.9101 3.54701 16.7281 2.89345C16.1685 2.58399 15.493 2.35949 14.8498 2.26921C14.3383 2.19741 12.6472 2.07201 11.4898 2.02005C11.0158 1.99877 9.63657 1.98071 9.30982 1.99151ZM8.82981 3.44177C7.57512 3.48723 5.60167 3.63779 5.16157 3.72167C4.63425 3.82217 4.12319 4.02781 3.69981 4.30987C3.51263 4.43459 3.11981 4.76557 3.11981 4.79857C3.11981 4.81863 3.89905 5.53971 4.40981 5.99231C5.67641 7.11467 6.92215 8.10565 8.13209 8.95337C8.83615 9.44663 9.29533 9.60743 9.99981 9.60743C10.7044 9.60743 11.1636 9.44657 11.8675 8.95329C13.0763 8.10617 14.3247 7.11311 15.5898 5.99225C16.0998 5.54045 16.8798 4.81865 16.8798 4.79857C16.8798 4.76557 16.487 4.43459 16.2998 4.30987C15.9892 4.10295 15.5663 3.90945 15.1898 3.80199C14.839 3.70185 14.4326 3.65209 13.2198 3.56075C11.5139 3.43229 10.1286 3.39475 8.82981 3.44177ZM2.41233 6.17361C2.36537 6.32963 2.20611 7.81989 2.13595 8.75967C2.09615 9.29259 2.10221 10.8129 2.14643 11.3897C2.20937 12.211 2.33803 13.3942 2.41101 13.8232C2.51031 14.4068 2.83585 14.9667 3.32981 15.4034C3.82225 15.8387 4.46295 16.1445 5.16157 16.2777C5.83335 16.4057 8.61785 16.5793 9.99981 16.5793C11.3818 16.5793 14.1663 16.4057 14.8381 16.2777C15.9717 16.0616 16.9143 15.4058 17.3571 14.525C17.5254 14.1903 17.5779 13.9805 17.6588 13.318C17.9492 10.9418 17.9702 9.57021 17.7487 7.45967C17.6963 6.95997 17.5971 6.19123 17.5815 6.16333C17.5708 6.14433 17.4573 6.23657 17.1879 6.48315C15.746 7.80285 14.3301 8.95877 12.9483 9.94449C12.1016 10.5484 11.7545 10.7318 11.1403 10.8994C10.4262 11.0944 9.57343 11.0944 8.85933 10.8994C8.25559 10.7346 7.90849 10.5531 7.09525 9.97699C5.77177 9.03935 4.25031 7.79931 2.82981 6.50053C2.40319 6.11047 2.42597 6.12831 2.41233 6.17361Z"
                    fill="currentColor"></path>
                </svg>

                <!-- Email address -->
                <p class="line-break font-medium">
                  <a
                    href="mailto:admissions@saiinternational.edu.in"
                    class="text-n-50 text-base font-medium underline-offset-2 hover:underline"
                  >
                    admissions@saiinternational.edu.in
                  </a>
                </p>
              </li>

              <!-- Location box wrapper -->
              <li class="flex items-center gap-3">
                <svg
                  class="size-5 text-orange-500"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.44953 0.672585C9.21753 0.691005 8.77739 0.743265 8.61953 0.771145C7.20799 1.02043 5.93405 1.62746 4.83953 2.57237C4.62247 2.75974 4.16661 3.21827 3.97685 3.44007C2.96443 4.62349 2.27895 6.16364 2.07195 7.72006C1.98795 8.35164 1.96455 9.26215 2.01747 9.84007C2.15765 11.3708 2.59541 12.6938 3.33249 13.8143C4.05539 14.9133 5.24359 16.2376 6.37953 17.2106C7.23549 17.9437 8.52245 18.8929 8.92953 19.0913C9.60837 19.4221 10.3907 19.4221 11.0695 19.0913C11.4744 18.8939 12.7621 17.9442 13.6195 17.2104C14.6966 16.2887 15.7667 15.1108 16.5633 13.9701C17.3528 12.8394 17.845 11.4027 17.9815 9.83006C18.013 9.46685 18.0129 8.54508 17.9813 8.20006C17.8167 6.40184 17.1953 4.87177 16.0724 3.50007C15.8522 3.23101 15.2149 2.60758 14.9205 2.37319C13.7499 1.44129 12.4222 0.886245 10.9395 0.708965C10.6818 0.678145 9.68587 0.653825 9.44953 0.672585ZM9.44953 2.11161C9.41653 2.11599 9.29503 2.12957 9.17953 2.14176C8.89761 2.17157 8.52353 2.24579 8.21953 2.33225C6.23205 2.89745 4.62557 4.40696 3.86915 6.42006C3.13957 8.36172 3.30587 10.8313 4.28669 12.6208C4.45589 12.9295 4.59653 13.1419 4.88221 13.5201C6.01427 15.0187 7.20735 16.1517 9.01615 17.4458C9.57057 17.8425 9.69429 17.8996 9.99953 17.8996C10.2976 17.8996 10.4344 17.8376 10.9533 17.4677C12.6669 16.246 13.8959 15.097 14.9686 13.714C15.6086 12.8889 15.902 12.3653 16.1701 11.5701C16.679 10.0607 16.7157 8.30342 16.2692 6.83038C16.0735 6.18472 15.7933 5.59215 15.4084 5.01007C15.1514 4.62135 14.9206 4.34051 14.5699 3.98946C14.0143 3.43339 13.4885 3.05647 12.8095 2.72761C12.1934 2.42917 11.5969 2.24781 10.9024 2.14779C10.7013 2.11883 9.60137 2.09143 9.44953 2.11161ZM9.44099 6.07181C8.21097 6.25085 7.38405 7.01215 7.13973 8.19049C7.01993 8.76824 7.04871 9.48748 7.21371 10.0401C7.47293 10.9081 8.15345 11.5567 9.04911 11.7894C9.76557 11.9756 10.6932 11.9258 11.3168 11.6676C12.1316 11.3303 12.6819 10.6381 12.8669 9.71797C12.9233 9.43724 12.9457 8.99689 12.9201 8.66926C12.8839 8.2041 12.8065 7.88448 12.6473 7.54268C12.2647 6.72122 11.5319 6.20937 10.5406 6.07108C10.2674 6.03299 9.70515 6.03337 9.44099 6.07181ZM9.73953 7.48091C8.90785 7.55562 8.49969 8.04586 8.49969 8.97007C8.49969 9.80439 8.82119 10.2706 9.50143 10.4225C9.76507 10.4814 10.2321 10.4818 10.4934 10.4234C11.1761 10.2709 11.4993 9.80388 11.4993 8.97007C11.4993 8.29744 11.2794 7.84727 10.8495 7.63989C10.6508 7.54401 10.4941 7.5033 10.2328 7.47974C10.0057 7.45926 9.97989 7.45932 9.73953 7.48091Z"
                    fill="currentColor"></path>
                </svg>

                <!-- Address -->
                <a
                  class="text-n-50 flex-1 text-base font-light hover:underline"
                  href="https://www.google.com/maps?q=SAI International School"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  SAI International School, Plot – 5A, Infocity Ave,
                  Chandrasekharpur, Bhubaneswar, Odisha 751024
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Title + Links wrapper -->
        <div
          class="fade-in flex w-full flex-col justify-center gap-9 px-3.5 py-7 md:gap-12 md:px-0 lg:w-[54%] lg:py-6 xl:w-[39%]"
        >
          <div class="flex w-full items-baseline-last gap-1.5 md:gap-3">
            <!-- Rank badge title -->
            <p
              class="text-lg leading-tight font-medium text-violet-700 sm:text-2xl md:text-3xl 2xl:text-4xl"
            >
              Among India’s
              <br />
              <span class="font-semibold text-orange-500"
                >Most Celebrated
              </span>
              Schools
            </p>
            <!-- Party popper icon -->
            <span class="inline-block">
              <svg
                class="size-5 text-violet-500 md:size-10"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M19.4745 1.38014C19.0581 1.51422 18.6903 1.87202 18.5404 2.2891C18.435 2.58214 18.4527 2.92986 18.6002 3.46013C19.1254 5.34909 19.0559 7.03597 18.3753 8.91778C18.2253 9.33218 18.1953 9.46301 18.1953 9.70033C18.1953 10.2489 18.4935 10.7322 18.9861 10.9817C19.1962 11.0882 19.2579 11.1001 19.5997 11.1001C19.9267 11.1001 20.0111 11.0854 20.2045 10.9947C20.6553 10.7834 20.8366 10.5421 21.1231 9.77245C21.5741 8.56105 21.7997 7.25654 21.7997 5.86109C21.7997 4.70606 21.6875 3.85806 21.392 2.78014C21.2361 2.2117 21.1092 1.94706 20.893 1.73994C20.5207 1.38314 19.9303 1.23338 19.4745 1.38014ZM27.4111 7.57582C26.8904 7.74586 26.5007 8.17549 26.4075 8.68221C26.3895 8.78006 26.3913 9.05814 26.4113 9.30014C26.4917 10.269 26.3077 11.053 25.7962 11.9201C25.5797 12.2873 25.5139 12.4972 25.5141 12.8212C25.5142 13.2291 25.6341 13.5213 25.9162 13.8016C26.2509 14.1341 26.4541 14.2188 26.9197 14.2195C27.3401 14.2201 27.5455 14.1532 27.8409 13.9191C28.2917 13.5621 28.9377 12.1734 29.1617 11.0801C29.2696 10.5532 29.3117 9.42773 29.2432 8.90014C29.1641 8.29134 28.8962 7.89149 28.4069 7.65213C28.1457 7.52433 27.6784 7.48849 27.4111 7.57582ZM34.917 10.3205C34.498 10.3914 34.0716 10.7213 33.8835 11.1201C33.7932 11.3115 33.7797 11.3923 33.7801 11.7401C33.7805 12.1003 33.7917 12.1614 33.8926 12.3537C34.0424 12.6391 34.3139 12.903 34.5919 13.0333L34.8197 13.1401L36.0797 13.1535C37.6635 13.1703 37.8059 13.1443 38.2139 12.7639C38.4309 12.5617 38.5517 12.358 38.6255 12.0699C38.8316 11.2651 38.3005 10.4561 37.4785 10.3227C37.1849 10.2751 35.1954 10.2733 34.917 10.3205ZM10.7597 11.6036C9.55646 11.7579 8.46202 12.4253 7.81374 13.4001C7.1589 14.3849 5.49418 17.5875 4.69814 19.394C2.78282 23.7407 1.67842 27.8257 1.40066 31.5909C1.2827 33.1896 1.31838 35.0554 1.47958 35.7201C1.65458 36.4417 2.17058 37.2593 2.74734 37.729C3.6733 38.483 4.35742 38.6781 6.0797 38.6793C11.9743 38.6835 18.4515 36.6454 25.4997 32.5686C26.5015 31.9891 26.6975 31.8574 27.0442 31.5304C27.6062 31.0002 28.0287 30.2897 28.2277 29.5401C28.3199 29.193 28.3343 29.0583 28.3368 28.5201C28.339 28.0472 28.322 27.8245 28.265 27.5812C28.1592 27.1297 27.9849 26.6948 27.7645 26.3324C27.3219 25.6044 25.2752 22.813 24.1336 21.3801C22.2605 19.0293 21.1071 17.8656 18.9397 16.1401C17.1096 14.6831 13.8223 12.3512 13.0997 11.9974C12.3593 11.6349 11.5621 11.5007 10.7597 11.6036ZM10.7918 14.5358C10.5587 14.6317 10.3648 14.772 10.2317 14.9412C10.1905 14.9936 9.9807 15.3478 9.7655 15.7283C6.7123 21.1264 4.89094 26.1945 4.36338 30.7601C4.23142 31.9021 4.1889 32.7525 4.20746 33.8801C4.2237 34.8708 4.23074 34.9535 4.31474 35.1444C4.4207 35.3853 4.63638 35.6081 4.8597 35.7074C4.99518 35.7677 5.16682 35.7808 5.9797 35.7929C11.2933 35.8721 17.3652 33.9527 24.0997 30.0652C25.0564 29.5129 25.2609 29.3416 25.3974 28.9778C25.5165 28.6605 25.5027 28.1872 25.3667 27.9201C25.2287 27.6493 24.2093 26.2161 23.105 24.7401C20.1923 20.8475 18.6315 19.3431 14.2797 16.2336C12.7789 15.1612 11.92 14.5881 11.6998 14.5119C11.4131 14.4128 11.0688 14.4219 10.7918 14.5358ZM31.5997 19.4414C31.0838 19.4867 30.5035 19.6185 30.3042 19.7357C29.9304 19.9556 29.6309 20.4044 29.5806 20.8201C29.511 21.3959 29.8397 21.9953 30.3747 22.2686C30.6416 22.4049 31.0477 22.4312 31.5397 22.3441C32.4204 22.1883 33.2133 22.3168 34.1397 22.7657C34.4918 22.9363 34.5085 22.9401 34.8997 22.9393C35.2418 22.9385 35.3287 22.9243 35.4997 22.8406C35.7691 22.7087 36.0614 22.4087 36.1922 22.1296C36.284 21.9337 36.2997 21.8474 36.2997 21.5393C36.2997 21.2121 36.2874 21.1535 36.168 20.911C36.0066 20.5832 35.8148 20.4109 35.3496 20.176C34.1857 19.5883 32.8676 19.3301 31.5997 19.4414Z"
                  fill="currentColor"></path>
              </svg>
            </span>
          </div>

          <!-- Links columns -->
          <div
            class="font-secondary text-n-800 flex w-full justify-start gap-1 text-left text-sm md:text-base"
          >
            <ul class="w-1/2 list-none space-y-3 sm:w-[32%] lg:w-[40%]">
              <!-- sm:w-[26%]  lg:w-[40%] 2xl:w-[38%] -->
              <li>
                <a class="transition hover:underline" href="/contact-us"
                  >Reach Us</a
                >
              </li>
              <!-- <li>
                <a class="transition hover:underline" href="#">Announcements</a>
              </li> -->
              <li>
                <a
                  class="transition hover:underline"
                  target="_blank"
                  href="https://sis.edunexttechnologies.com/Index">SAI Online</a
                >
              </li>
              <li>
                <a
                  class="transition hover:underline"
                  target="_blank"
                  href="https://eedutree.com/default/parentLogin.php">SAMS</a
                >
              </li>
              <li>
                <a class="transition hover:underline" href="/#other-campus"
                  >Other Campus</a
                >
              </li>
            </ul>

            <ul class="w-1/2 list-none space-y-3 sm:w-[32%] lg:w-[40%]">
              <li>
                <a class="transition hover:underline" href={URLS.ABOUT.ROOT}
                  >About Us</a
                >
              </li>
              <li>
                <a
                  class="transition hover:underline"
                  href={URLS.MEDIA.NEWS.ROOT}>News</a
                >
              </li>
              <li>
                <a
                  class="transition hover:underline"
                  href="https://eedutree.com/shs/homeschoolLogin.php"
                  target="_blank">SAI Home School</a
                >
              </li>
              <li>
                <a class="transition hover:underline" href="#">IIM Case Study</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Footer child image -->
        <Image
          src="/images/child.png"
          alt="School Group Photo"
          class="scale-in absolute right-1/2 -bottom-[50px] w-[323px] translate-x-1/2 sm:right-0 sm:-bottom-[28px] sm:w-[40%] sm:translate-x-0 lg:w-[400px] xl:w-[427px]"
          width={427}
          height={600}
          priority
        />
      </div>
    </div>
  </div>
</footer>
