---
import Navbar from "../Navbar.astro";
import Hamburger from "../Hamburger.astro";

// DATA //
const baseItems = [
  { name: "About Us", href: "/about-us", active: true },
  { name: "School Tour", href: "/school-tour" },
  { name: "News & Blogs", href: "/news" },
  { name: "Pay Fee", href: "/pay-fee" },
  { name: "Reach Us", href: "/contact-us" },
];

// Normalize a path (removes trailing slash except for "/")
function normalizePath(path: string): string {
  if (path.endsWith("/") && path !== "/") {
    // Remove last slash
    return path.slice(0, -1);
  }
  return path;
}

// Get current path from Astro
const currentPath = normalizePath(Astro.url.pathname);

// Add active to current page path
const navItemWithActive = baseItems.map((item) => {
  const itemPath = normalizePath(item.href);

  // Marks active if path matches
  return {
    ...item,
    active: itemPath === currentPath,
  };
});
---

<!-- Header Component -->
<header
  class="bg-n-50 border-n-200 fixed top-6 left-1/2 z-50 mx-auto flex -translate-x-1/2 items-center gap-25 rounded-xl border px-6 py-4 md:z-48 xl:gap-36"
>
  <!-- Brand logo -->
  <a href="/" class="w-22 xl:w-26">
    <img src="/images/sai-brand-logo.png" alt="" class="h-full w-full" />
  </a>

  <!-- Navbar component -->
  <Navbar navItems={navItemWithActive} />
</header>
