---
// COMPONENTS //
import ArticleCard from "@/components/ui/ArticleCard.astro";
import SectionHeaderMain from "@/components/ui/SectionHeaderMain.astro";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// DATA //
import { amenitiesDetails } from "@/data/about/amenities";
---

<section class="bg-n-100 relative w-full overflow-hidden" id="amenities">
  <div
    class="container mx-auto flex flex-col gap-10 px-6 py-14 md:gap-14 md:py-20 lg:gap-20 lg:py-24 2xl:px-0"
  >
    <!-- Section header title -->
    <SectionHeaderMain {...amenitiesDetails.sectionHeaderContent} />

    <!-- Ammenities Cards wrapper -->
    <div
      class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-8 xl:grid-cols-3 xl:gap-9"
    >
      <!-- Amenities Cards -->
      {
        amenitiesDetails.amenitiesCards.map((amenitiesCardItem, cardIndex) => (
          <div
            class="card-anim card-bottom"
            style={`--delay: ${cardIndex * 0.1}s`}
          >
            <ArticleCard
              title={amenitiesCardItem.title}
              img={amenitiesCardItem.img}
              href={`${URLS.ABOUT.LEARNING_AND_BEYOND.AMENITY(
                amenitiesCardItem.id.toString(),
                amenitiesCardItem.title.toLowerCase().replaceAll(" ", "-"),
              )}`}
              description={amenitiesCardItem.description}
              badgeText=""
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
