---
// OTHERS //
import Layout from "../layouts/Layout.astro";
import Founder from "../sections/home/Founder.astro";
import Testimonial from "../sections/home/Testimonial.astro";
---

<Layout>
  <p>Home</p>
  <Founder />
  <Testimonial />
</Layout>
