---
// LAYOUT //
import Layout from "@/layouts/Layout.astro";

// META //
import homeMeta from "@/data/meta/site.json";

// SECTIONS //
import Awards from "@/sections/home/Awards.astro";
import BookATour from "@/sections/home/BookATour.astro";
import Founder from "@/sections/home/Founder.astro";
import News from "@/sections/home/News.astro";
import Testimonial from "@/sections/home/Testimonial.astro";
import Partners from "@/sections/home/Partners.astro";
import OurCampuses from "@/sections/home/OurCampuses.astro";
import Learning360 from "@/sections/home/Learning360.astro";
import Ethos from "@/sections/home/Ethos.astro";
import Stats from "@/sections/home/Stats.astro";
import Results from "@/sections/home/Results.astro";
import Placements from "@/sections/home/Placements.astro";
import Hero from "@/sections/home/Hero.astro";
import NewsLetter from "@/sections/home/NewsLetter.astro";
---

<Layout meta={homeMeta}>
  <Hero />
  <Stats />
  <Learning360 />
  <BookATour />
  <Results />
  <Placements />
  <Awards />
  <OurCampuses />
  <Ethos />
  <Founder />
  <Testimonial />
  <div class="bg-n-100">
    <News />
  </div>
  <NewsLetter />
  <Partners />
</Layout>
