---
export const prerender = false;

// COMPONENTS //
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import EmptyState from "@/components/EmptyState.astro";
import Lightbox from "@/components/Lightbox.astro";
import Pagination from "@/components/Pagination.astro";
import SectionHeaderMain from "@/components/SectionHeaderMain.astro";

// CONSTANTS //
import { URLS } from "@/infrastructure/constants/urls";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// DATA //
import { albums } from "@/data/media/albums";
import PhotoCard from "@/components/PhotoCard.astro";

const year: number =
  Number(Astro.url.searchParams.get("year")) || albums.years[0];

const albumId = Astro.params.albumId;

// Find that one item dynamically (no static paths)
const albumsItem = albums.images[year].find(
  (item) => item.id.toString() === albumId,
);

// Get this from API
const totalItems = albumsItem?.content.length ?? 10;
const totalPages = totalItems > 0 ? Math.ceil(totalItems / 10) : 0;

const shouldShowPagination = totalPages > 1;

// Prepare breadcrumb items based on personType
const breadcrumbItems = [
  { label: "Media", href: URLS.MEDIA.ROOT },
  { label: albumsItem?.name ?? "", href: `#` },
];
---

<Layout>
  <section class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container m-auto flex flex-col gap-10 px-5 pt-32 pb-14 md:gap-14 lg:gap-16 lg:pt-40"
    >
      <!-- Breadcrumbs -->
      <Breadcrumbs items={breadcrumbItems} />

      <!-- Body of the Albums -->
      <div class="flex flex-col gap-8 md:gap-12 lg:gap-14">
        <!-- Section Header -->
        <SectionHeaderMain title={albumsItem?.name ?? "Album"} />

        <!-- Albums -->
        <div class="fade-in flex flex-col gap-7 md:gap-8 lg:gap-11">
          <!-- Albums -->
          {
            albumsItem && albumsItem.content.length > 0 ? (
              <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 lg:grid-cols-3">
                {albumsItem.content.map(
                  (imageItem: string, albumsItemIndex) => (
                    <div
                      class="card-anim"
                      style={`--delay: ${albumsItemIndex * 0.2}s`}
                    >
                      <PhotoCard
                        image={imageItem}
                        index={albumsItemIndex}
                        classes="h-[350px]"
                      />
                    </div>
                  ),
                )}
              </div>
            ) : (
              <EmptyState />
            )
          }
        </div>
        <!-- Pagination -->
        {shouldShowPagination && <Pagination totalPages={10} />}
        <Lightbox />
      </div>
    </div>
  </section>
</Layout>
