---
const { eyebrow, title } = Astro.props;
// Split the title into words
const words = title ? title.trim().split(" ") : [];
const lastWord = words.length > 0 ? words[words.length - 1] : "";
const firstPart = words.length > 1 ? words.slice(0, -1).join(" ") + " " : "";
---

<div class="relative inline-block">
  {
    eyebrow && (
      <span class="from-p-500 to-p-300 absolute -top-7 left-0 h-1.5 w-16 rounded-full bg-gradient-to-r md:-top-9 md:h-2 md:w-24" />
    )
  }
  <p class="text-n-800 text-4xl/11 font-medium md:text-6xl/20 2xl:text-7xl/24">
    {firstPart}
    <span class="relative inline-block">
      {lastWord}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="233"
        height="34"
        viewBox="0 0 233 34"
        fill="none"
        class="absolute -bottom-[15px] left-0 h-[19px] w-[130px] md:h-[34px] md:w-[232px] lg:-bottom-[30px] xl:h-[47px] xl:w-[300px]"
      >
        <path
          d="M2.65571 24.492C31.0157 14.3695 116.14 -12.2347 229.156 6.53788C231.335 6.89985 232.808 8.95935 232.447 11.1385C232.085 13.3177 230.024 14.7914 227.845 14.4295C116.687 -4.03444 33.0287 22.1461 5.34516 32.0271C3.26459 32.7697 0.975474 31.6849 0.23286 29.6043C-0.509758 27.5237 0.575131 25.2346 2.65571 24.492Z"
          fill="#CC554D"></path>
        <path
          d="M52.1524 25.972C73.6756 18.1015 143.462 5.40171 217.126 18.1614C219.303 18.5385 220.762 20.6088 220.385 22.7855C220.008 24.9622 217.938 26.4213 215.761 26.0443C143.451 13.519 75.0842 26.105 54.9005 33.4857C52.8257 34.2444 50.5283 33.1767 49.7696 31.1019C49.0113 29.0273 50.078 26.7307 52.1524 25.972Z"
          fill="#CC554D"></path>
      </svg>
    </span>
  </p>
</div>
