---
interface Props {
  question: string;
  answer: string;
  isOpen?: boolean;
}

// Props default values
const { question, answer, isOpen = false } = Astro.props;
---

<div
  class="border-n-200 bg-n-50 cursor-pointer rounded-lg border"
  data-accordion
  data-open={isOpen}
>
  <div class="flex w-full flex-col">
    <!-- Faq Wrapper -->
    <button
      type="button"
      class="flex w-full cursor-pointer items-center justify-between px-6 py-5 text-left md:px-8 md:py-7"
      data-accordion-trigger
      aria-expanded={isOpen ? "true" : "false"}
    >
      <!-- Question -->
      <p
        class="text-n-600 w-[85%] text-lg font-semibold md:w-[90%] md:text-2xl"
      >
        {question}
      </p>
      <!-- Icon circle -->
      <span
        class="bg-n-100 flex size-8 items-center justify-center rounded-full transition-transform duration-300 md:size-12"
      >
        <div
          data-accordion-arrow
          class={`text-n-500 transition-transform duration-300 ${
            isOpen ? "rotate-45" : ""
          }`}
        >
          <!-- Plus Icon -->
          <svg
            class="size-3 md:size-5"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M9 0.799805C9.55223 0.799805 9.99989 1.24762 10 1.7998V8H16.2002C16.7524 8.00011 17.2002 8.44777 17.2002 9C17.2002 9.55223 16.7524 9.99989 16.2002 10H10V16.2002C9.99989 16.7524 9.55223 17.2002 9 17.2002C8.44777 17.2002 8.00011 16.7524 8 16.2002V10H1.7998C1.24762 9.99989 0.799805 9.55223 0.799805 9C0.799805 8.44777 1.24762 8.00011 1.7998 8H8V1.7998C8.00011 1.24762 8.44777 0.799805 9 0.799805Z"
              fill="#45556C"
              stroke="#45556C"
              stroke-width="0.4"></path>
          </svg>
        </div>
      </span>
    </button>

    <!-- Answer block wrapper -->
    <div
      class="overflow-hidden px-6 transition-[height] duration-300 ease-in-out md:px-8"
      data-accordion-content
      style={`height:${isOpen ? "auto" : "0px"}`}
    >
      <!-- Answer -->
      <p class="text-n-600 w-[90%] pb-5 text-sm font-normal md:pb-7 md:text-lg">
        {answer}
      </p>
    </div>
  </div>
</div>
