<!-- Hamburger button -->
<div
  id="hamburger-btn"
  class="bg-n-100 hover:bg-n-200 relative flex rounded-lg px-5 py-2 text-gray-600 transition-all duration-300 sm:hidden"
  role="button"
  aria-label="Toggle menu"
  aria-expanded="false"
>
  <!-- Hamburger Icon -->
  <svg
    class="hamburger-icon transition-all duration-300"
    width="17"
    height="17"
    viewBox="0 0 17 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.49386 1.94319C1.17794 1.99685 0.96914 2.30231 1.03154 2.61953C1.07282 2.82932 1.2342 3.0025 1.43932 3.05714C1.55938 3.08911 15.4165 3.08911 15.5365 3.05714C15.8068 2.98517 15.9879 2.71317 15.9528 2.43205C15.9284 2.23697 15.7797 2.04684 15.5919 1.97068L15.5039 1.93498L8.53592 1.93281C4.70352 1.93161 1.5346 1.93628 1.49386 1.94319ZM1.4696 7.78356C1.30264 7.81674 1.14608 7.94473 1.06908 8.11098C1.03141 8.19229 1.02464 8.22778 1.02476 8.34298C1.02488 8.45829 1.03184 8.49415 1.07048 8.57873C1.12559 8.69932 1.2358 8.80781 1.36444 8.8681L1.45592 8.91098H8.48792H15.5199L15.6114 8.8681C15.7401 8.80781 15.8503 8.69932 15.9054 8.57873C15.9441 8.49402 15.9509 8.45849 15.9509 8.34298C15.9509 8.22748 15.9441 8.19194 15.9054 8.10724C15.8503 7.98665 15.7401 7.87815 15.6114 7.81786L15.5199 7.77498L8.52792 7.77268C4.68232 7.77141 1.50608 7.77631 1.4696 7.78356ZM1.4318 13.6298C1.23343 13.6846 1.07204 13.8606 1.03154 14.0664C0.9781 14.3381 1.1262 14.6107 1.38392 14.7153L1.47192 14.751H8.48792H15.5039L15.5919 14.7153C15.7797 14.6391 15.9284 14.449 15.9528 14.2539C15.9879 13.9728 15.8068 13.7008 15.5365 13.6288C15.4217 13.5982 1.5426 13.5992 1.4318 13.6298Z"
      fill="#4A5565"></path>
  </svg>

  <!-- Close (X) Icon -->
  <svg
    class="close-icon absolute scale-90 opacity-0 transition-all duration-300"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
  >
    <g clip-path="url(#clip0_3977_2371)">
      <path
        d="M0.958597 0.67093C1.19644 0.463586 1.55755 0.488367 1.76496 0.726175C5.97244 5.55037 10.4491 10.0271 15.2733 14.2345C15.5111 14.442 15.5359 14.8031 15.3286 15.0409C15.1212 15.2787 14.7601 15.3035 14.5222 15.0962C9.65879 10.8545 5.14504 6.34072 0.903352 1.47729C0.696008 1.23945 0.720789 0.878337 0.958597 0.67093Z"
        fill="#45556C"></path>
      <path
        d="M14.2345 0.726176C14.442 0.488366 14.8031 0.463586 15.0409 0.67093C15.2787 0.878337 15.3035 1.23945 15.0962 1.47729C10.8545 6.34073 6.34072 10.8545 1.47729 15.0962C1.23945 15.3035 0.878338 15.2787 0.670931 15.0409C0.463585 14.8031 0.488367 14.442 0.726177 14.2345C5.55037 10.0271 10.0271 5.55038 14.2345 0.726176Z"
        fill="#45556C"></path>
    </g>
    <defs>
      <clipPath id="clip0_3977_2371">
        <rect width="16" height="16" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>

<style>
  /* When menu is open, show the close icon */
  #hamburger-btn.is-open .hamburger-icon {
    opacity: 0;
    transform: scale(0.9);
  }

  #hamburger-btn.is-open .close-icon {
    opacity: 1;
    transform: scale(1);
  }
</style>
