---
import Button from "./Button.astro";

// Props
interface Props {
  navItems: { name: string; href: string; active?: boolean }[];
}

const { navItems } = Astro.props;
---

<nav class="font-secondary flex items-center gap-6 xl:gap-11">
  <!-- Pages Links -->
  <ul class="hidden items-center gap-6 text-base font-medium lg:flex xl:gap-11">
    {
      navItems.map((navItem) => (
        <li>
          <a
            href={navItem.href}
            class={`relative transition-colors duration-200 ${
              navItem.active
                ? "font-medium text-orange-500"
                : "text-n-800 hover:text-n-900"
            }`}
          >
            {navItem.name}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="flex gap-3.5">
    <!-- Apply Now button -->
    <a href="/contact-us" class="hidden sm:block">
      <Button text="Apply Now" variant="solid" rightArrow />
    </a>

    <!-- Explore button -->
    <a href="/" class="hidden lg:flex">
      <Button text="Explore" leftIcon variant="ghost" />
    </a>
  </div>
</nav>
