---
import Button from "./Button.astro";

// Props
interface Props {
  navItems: { name: string; href: string; active?: boolean }[];
}

const { navItems } = Astro.props;
---

<nav class="font-secondary flex items-center gap-11">
  <!-- Pages Links -->
  <ul
    class="container mx-auto hidden items-center gap-11 text-base font-medium lg:flex"
  >
    {
      navItems.map((navItem) => (
        <li>
          <a
            href={navItem.href}
            class={`relative transition-colors duration-200 ${
              navItem.active
                ? "font-medium text-orange-500"
                : "text-n-800 hover:text-n-900"
            }`}
          >
            {navItem.name}
          </a>
        </li>
      ))
    }
  </ul>
  <!-- Button Component -->
  <a href="/contact-us" class="shrink-0">
    <Button text="Apply Now" variant="solid" rightArrow size="small" />
  </a>
</nav>
