---
import Button from "./Button.astro";
import Hamburger from "./Hamburger.astro";
import IconButton from "./IconButton.astro";

// Props
interface Props {
  navItems: { name: string; href: string; active?: boolean; target?: string }[];
}

const { navItems } = Astro.props;
---

<nav class="font-secondary flex items-center gap-6 lg:gap-9 2xl:gap-11">
  <!-- Pages Links -->
  <ul
    class="hidden items-center gap-6 text-base font-medium xl:flex xl:gap-9 2xl:gap-11"
  >
    {
      navItems.map((navItem) => (
        <li class="text-nowrap">
          <a
            href={navItem.href}
            target={navItem.target}
            class={`relative transition-colors duration-200 hover:text-orange-500 ${
              navItem.active
                ? "font-medium text-orange-500"
                : "text-n-800 hover:text-n-900"
            }`}
          >
            {navItem.name}
          </a>
        </li>
      ))
    }
  </ul>
  <div class="flex gap-3.5">
    <!-- Apply Now button -->
    <a href="/admissions" class="hidden sm:block">
      <Button text="Apply Now" variant="solid" rightArrow />
    </a>

    <!-- Apply Now Icon Button on mobile -->
    <div class="block sm:hidden">
      <IconButton href="/admissions" extraClasses="!rounded-lg" />
    </div>

    <!-- Explore button -->
    <a href="/" id="explore-btn" class="hidden sm:flex">
      <Button text="Explore" leftIcon variant="ghost" />
    </a>

    <!-- Hamburger  -->
    <Hamburger />
  </div>
</nav>
