---
import Button from "./Button.astro";
interface Props {
  eyebrowText?: string;
  title: string;
  subtitle?: string;
  ctaText?: string;
}
const {
  eyebrowText = "",
  title = "",
  subtitle = "",
  ctaText = "",
} = Astro.props;
---

<div class="relative flex w-full flex-col items-start gap-10">
  <!-- Text Content -->
  <div class="space-y-1 md:space-y-3">
    <!-- Eyebrow text -->
    {
      eyebrowText && (
        <p class="text-n-600 text-base font-light md:text-xl">{eyebrowText}</p>
      )
    }
    <div class="relative flex flex-col gap-4">
      <!-- Section title -->
      <p
        class="text-n-800 text-3xl leading-tight font-medium md:text-5xl lg:text-6xl"
      >
        {title}
      </p>
      <!-- Lines -->
      <img
        src={"/icons/double-lines.svg"}
        alt=""
        class="absolute right-[2%] -bottom-[50%] h-[19px] w-[130px] md:h-[34px] md:w-[232px]"
      />
      <!-- Section subtitle -->
      {
        subtitle && (
          <p class="font-secondary text-n-600 text-2xl font-semibold">
            {subtitle}
          </p>
        )
      }
    </div>
  </div>

  <!-- Cta Button -->
  {ctaText && <Button text={ctaText} variant="solid" size="large" />}
</div>
