<div
  class="social-sticky-bar text-n-800 bg-n-50 fixed bottom-[24px] left-1/2 z-12 flex -translate-x-1/2 items-center gap-4 rounded-2xl p-4 shadow-sm"
>
  <!-- Mail Icon -->
  <a
    href=""
    target="_blank"
    class="origin-bottom transition-transform duration-200 ease-out hover:-translate-y-2"
    ><svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.30982 1.99151C7.78447 2.04189 5.84577 2.17151 5.14393 2.27003C3.06979 2.56119 1.39471 3.99531 1.02117 5.79967C0.946654 6.15969 0.796334 7.48425 0.730674 8.35967C0.639334 9.57743 0.639254 10.4488 0.730434 11.6497C0.795674 12.5093 0.948254 13.8474 1.02117 14.1997C1.33177 15.7 2.52829 16.9509 4.17731 17.499C4.68617 17.6682 5.02913 17.731 5.81533 17.7991C8.49246 18.031 10.2186 18.0647 12.4398 17.9287C13.4188 17.8688 14.4945 17.78 14.8557 17.7293C16.3902 17.5139 17.7467 16.6607 18.4823 15.4484C18.7255 15.0475 18.8944 14.6256 18.9782 14.2097C19.0537 13.8351 19.2019 12.5212 19.2693 11.6297C19.3602 10.4279 19.3601 9.57453 19.269 8.35967C19.204 7.49403 19.052 6.15449 18.9785 5.79967C18.7315 4.60769 17.9101 3.54701 16.7281 2.89345C16.1685 2.58399 15.493 2.35949 14.8498 2.26921C14.3383 2.19741 12.6472 2.07201 11.4898 2.02005C11.0158 1.99877 9.63657 1.98071 9.30982 1.99151ZM8.82981 3.44177C7.57512 3.48723 5.60167 3.63779 5.16157 3.72167C4.63425 3.82217 4.12319 4.02781 3.69981 4.30987C3.51263 4.43459 3.11981 4.76557 3.11981 4.79857C3.11981 4.81863 3.89905 5.53971 4.40981 5.99231C5.67641 7.11467 6.92215 8.10565 8.13209 8.95337C8.83615 9.44663 9.29533 9.60743 9.99981 9.60743C10.7044 9.60743 11.1636 9.44657 11.8675 8.95329C13.0763 8.10617 14.3247 7.11311 15.5898 5.99225C16.0998 5.54045 16.8798 4.81865 16.8798 4.79857C16.8798 4.76557 16.487 4.43459 16.2998 4.30987C15.9892 4.10295 15.5663 3.90945 15.1898 3.80199C14.839 3.70185 14.4326 3.65209 13.2198 3.56075C11.5139 3.43229 10.1286 3.39475 8.82981 3.44177ZM2.41233 6.17361C2.36537 6.32963 2.20611 7.81989 2.13595 8.75967C2.09615 9.29259 2.10221 10.8129 2.14643 11.3897C2.20937 12.211 2.33803 13.3942 2.41101 13.8232C2.51031 14.4068 2.83585 14.9667 3.32981 15.4034C3.82225 15.8387 4.46295 16.1445 5.16157 16.2777C5.83335 16.4057 8.61785 16.5793 9.99981 16.5793C11.3818 16.5793 14.1663 16.4057 14.8381 16.2777C15.9717 16.0616 16.9143 15.4058 17.3571 14.525C17.5254 14.1903 17.5779 13.9805 17.6588 13.318C17.9492 10.9418 17.9702 9.57021 17.7487 7.45967C17.6963 6.95997 17.5971 6.19123 17.5815 6.16333C17.5708 6.14433 17.4573 6.23657 17.1879 6.48315C15.746 7.80285 14.3301 8.95877 12.9483 9.94449C12.1016 10.5484 11.7545 10.7318 11.1403 10.8994C10.4262 11.0944 9.57343 11.0944 8.85933 10.8994C8.25559 10.7346 7.90849 10.5531 7.09525 9.97699C5.77177 9.03935 4.25031 7.79931 2.82981 6.50053C2.40319 6.11047 2.42597 6.12831 2.41233 6.17361Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <div class="bg-n-800 h-3 w-0.5 rounded-xs"></div>

  <!-- Linkedin Icon -->
  <a
    href=""
    target="_blank"
    class="origin-bottom transition-transform duration-200 ease-out hover:-translate-y-2"
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3.3598 1.01333C3.3213 1.01737 3.19294 1.03873 3.07454 1.06077C2.01798 1.25751 1.27258 2.00169 1.05848 3.07355C0.976602 3.48349 0.982962 4.15989 1.07244 4.55955C1.30408 5.59409 2.0245 6.29815 3.06588 6.50771C3.34988 6.56485 3.75794 6.58605 4.07908 6.56033C4.83342 6.49991 5.3688 6.27251 5.82078 5.82053C6.27276 5.36855 6.50016 4.83317 6.56058 4.07883C6.60896 3.47469 6.5159 2.88589 6.29882 2.42265C5.93098 1.63771 5.21578 1.14733 4.25336 1.02021C4.10818 1.00103 3.51956 0.996493 3.3598 1.01333ZM3.5098 2.44025C2.91826 2.50681 2.5871 2.79511 2.46532 3.34955C2.42192 3.54709 2.42346 4.02079 2.46818 4.22955C2.5669 4.69049 2.81954 4.95937 3.2698 5.08277C3.48424 5.14153 4.05136 5.14727 4.26924 5.09287C4.71364 4.98195 4.9822 4.71339 5.09312 4.26899C5.1475 4.05115 5.14178 3.48403 5.08304 3.26955C5.022 3.04669 4.95404 2.91721 4.82492 2.77775C4.69208 2.63425 4.47102 2.51867 4.2398 2.47177C4.04384 2.43205 3.71066 2.41765 3.5098 2.44025ZM3.40254 7.58123C2.42134 7.69043 1.57314 8.37707 1.26046 9.31533C1.12124 9.73303 1.1298 9.47355 1.1298 13.2796C1.1298 16.4423 1.13248 16.7237 1.16426 16.8915C1.3729 17.9927 2.23998 18.8266 3.33714 18.9813C3.59482 19.0176 4.0439 18.9945 4.2898 18.9322C4.77648 18.809 5.1878 18.5723 5.5262 18.2208C5.84794 17.8865 6.05072 17.5159 6.18352 17.0196L6.229 16.8496L6.2351 13.3796C6.24178 9.56861 6.24624 9.72645 6.12156 9.34493C5.83162 8.45769 5.10074 7.80063 4.20404 7.62111C3.96544 7.57335 3.62546 7.55643 3.40254 7.58123ZM12.9598 7.57123C12.6312 7.59929 12.3988 7.62923 12.1892 7.67053C10.5815 7.98723 9.20354 8.96195 8.35758 10.3808C8.03624 10.9198 7.79644 11.5511 7.67078 12.189C7.57272 12.6868 7.5698 12.7627 7.5698 14.8196V16.7496L7.61502 16.9538C7.82742 17.913 8.50304 18.6413 9.42842 18.9084C9.79576 19.0145 10.3461 19.0282 10.6998 18.9401C11.6875 18.6942 12.3961 17.9751 12.6317 16.9796C12.6638 16.8436 12.6682 16.6574 12.6785 14.9896L12.6898 13.1496L12.736 13.0476C12.7938 12.9199 12.9202 12.7945 13.048 12.7382C13.1601 12.6887 13.344 12.6789 13.4698 12.7157C13.5902 12.7509 13.7373 12.8744 13.8078 12.9996L13.8698 13.1096L13.881 14.9196C13.8933 16.922 13.8902 16.8718 14.0273 17.275C14.296 18.0652 14.9465 18.68 15.7553 18.9084C16.0241 18.9843 16.2294 19.0062 16.5571 18.9938C17.1997 18.9697 17.7569 18.7326 18.221 18.286C18.5702 17.9499 18.802 17.5485 18.9352 17.0496L18.9886 16.8496L18.9956 14.9296C19.0004 13.6018 18.9955 12.9325 18.9798 12.7596C18.8005 10.7887 17.623 9.06547 15.8443 8.17065C15.2574 7.87537 14.677 7.69817 14.0098 7.61051C13.7754 7.57971 13.1392 7.55591 12.9598 7.57123ZM3.4127 9.03123C3.00922 9.12891 2.64796 9.51187 2.58128 9.91259C2.56472 10.0122 2.56004 10.9551 2.56414 13.3696L2.5698 16.6896L2.62326 16.8271C2.92658 17.6078 3.89518 17.8227 4.47906 17.2388C4.61472 17.1032 4.7096 16.9484 4.7728 16.7596C4.80788 16.6548 4.8099 16.4938 4.81518 13.3711C4.8213 9.75515 4.8257 9.89501 4.69736 9.62939C4.60044 9.42879 4.37936 9.20857 4.1798 9.11381C3.9399 8.99989 3.66458 8.97025 3.4127 9.03123ZM12.8219 9.02241C12.4361 9.06273 11.9747 9.18535 11.593 9.34895C10.1652 9.96095 9.17742 11.3079 9.02076 12.8567C8.99142 13.1467 8.9923 16.5413 9.02174 16.6836C9.09722 17.0482 9.398 17.3858 9.76092 17.5131C9.94858 17.5789 10.2411 17.5869 10.4298 17.5313C10.7988 17.4227 11.0886 17.1367 11.212 16.7596C11.2452 16.658 11.2489 16.5064 11.2601 14.7896C11.2737 12.7227 11.2651 12.8505 11.4136 12.4996C11.6616 11.9132 12.1767 11.4731 12.8098 11.3067C13.0121 11.2535 13.549 11.2541 13.7598 11.3077C14.1344 11.403 14.428 11.5688 14.701 11.8396C14.9904 12.1266 15.162 12.4216 15.2653 12.8096C15.3068 12.9657 15.3081 13.0142 15.3191 14.8196L15.3303 16.6696L15.3752 16.8026C15.504 17.1835 15.8512 17.4817 16.2493 17.5532C16.8165 17.6551 17.3598 17.315 17.533 16.7496C17.5676 16.6368 17.5698 16.5186 17.5698 14.7796C17.5698 12.7381 17.5695 12.7327 17.4391 12.2269C16.9056 10.1577 14.9494 8.80003 12.8219 9.02241Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <div class="bg-n-800 h-3 w-0.5 rounded-xs"></div>

  <!-- Instagram Icon -->
  <a
    href=""
    target="_blank"
    class="origin-bottom transition-transform duration-200 ease-out hover:-translate-y-2"
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M8.99984 1.01242C8.93934 1.01626 8.70534 1.02904 8.47984 1.0408C7.58648 1.08744 5.8269 1.24504 5.3427 1.32178C3.3747 1.63368 1.75966 3.16732 1.3529 5.11048C1.26256 5.54212 1.12536 6.97832 1.03576 8.43048C1.00104 8.99312 1.00112 11.0099 1.03588 11.5705C1.12832 13.0611 1.26114 14.4521 1.3529 14.8905C1.75956 16.8331 3.37522 18.3674 5.3427 18.6792C5.78748 18.7497 7.3324 18.8906 8.46984 18.9645C9.0063 18.9993 10.9934 18.9993 11.5298 18.9645C12.6673 18.8906 14.2122 18.7497 14.657 18.6792C16.4552 18.3942 17.9614 17.0974 18.5268 15.3474C18.6615 14.9305 18.7107 14.6198 18.8084 13.5705C18.9626 11.914 18.9889 11.3933 18.9889 10.0005C18.9889 8.77488 18.9772 8.4656 18.8888 7.35048C18.7998 6.22776 18.7174 5.46364 18.6487 5.12354C18.2574 3.18577 16.6283 1.6342 14.657 1.32178C14.2414 1.25592 12.7792 1.12002 11.7198 1.04878C11.2867 1.01966 9.30318 0.993145 8.99984 1.01242ZM9.17984 2.44224C7.96464 2.4862 5.94334 2.66303 5.40546 2.77242C4.1761 3.02244 3.16592 3.96368 2.81046 5.19028C2.74222 5.42576 2.7115 5.62614 2.65096 6.23048C2.41492 8.58734 2.37474 10.1383 2.50122 12.0105C2.55588 12.8195 2.6784 14.1281 2.72972 14.4507C2.89572 15.4946 3.60736 16.4547 4.57262 16.9373C5.00102 17.1515 5.3262 17.2379 5.97984 17.3113C8.37972 17.581 10.0958 17.6312 12.0698 17.4896C13.1334 17.4133 14.3435 17.2867 14.6398 17.2207C15.8531 16.9508 16.8392 16.0186 17.1892 14.8107C17.258 14.5734 17.289 14.3711 17.3484 13.7705C17.6169 11.0596 17.6357 9.50132 17.4288 7.09048C17.3758 6.47232 17.3002 5.7382 17.2701 5.55024C17.1042 4.51238 16.397 3.5529 15.4426 3.0708C14.9892 2.8418 14.6351 2.75249 13.8598 2.67158C11.8455 2.46141 10.4886 2.3949 9.17984 2.44224ZM14.3867 4.4624C14.1656 4.49932 13.9785 4.60172 13.8192 4.77303C13.7029 4.8981 13.6539 4.97964 13.5984 5.14048C13.5394 5.31144 13.5342 5.63246 13.5874 5.81048C13.6929 6.16318 13.9849 6.43702 14.3344 6.5111C15.1438 6.6826 15.782 6.04443 15.6105 5.23509C15.4966 4.6979 14.9694 4.36504 14.3867 4.4624ZM9.65984 6.40146C8.71162 6.4611 7.98508 6.75362 7.40224 7.31038C6.85674 7.83144 6.54348 8.48842 6.4295 9.35048C6.38714 9.67078 6.38714 10.3302 6.4295 10.6505C6.54348 11.5125 6.85674 12.1695 7.40224 12.6906C8.0561 13.3152 8.87866 13.6046 9.99984 13.6046C10.4586 13.6046 10.7908 13.5667 11.1716 13.471C12.1825 13.2168 12.9564 12.545 13.3379 11.5905C13.647 10.8172 13.6986 9.69763 13.4666 8.80072C13.2562 7.98744 12.7471 7.30254 12.0398 6.88148C11.4313 6.51916 10.5653 6.3445 9.65984 6.40146ZM9.67984 7.83258C8.72124 7.94858 8.2096 8.31182 7.9614 9.05262C7.86562 9.33852 7.83286 9.57962 7.83262 10.0005C7.83228 10.5702 7.9247 10.9786 8.13166 11.3219C8.40426 11.7741 8.84432 12.0404 9.48984 12.1439C9.72642 12.1819 10.3449 12.1755 10.5798 12.1326C10.9604 12.0633 11.2583 11.9388 11.4948 11.7504C11.7527 11.5448 11.9232 11.2927 12.0392 10.9449C12.1391 10.6454 12.1677 10.4351 12.1677 10.0005C12.1677 9.46672 12.0969 9.11125 11.9214 8.76362C11.7869 8.49718 11.4942 8.20664 11.2246 8.07208C11.0698 7.99482 10.7948 7.90754 10.5898 7.87062C10.417 7.83948 9.82666 7.8148 9.67984 7.83258Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <div class="bg-n-800 h-3 w-0.5 rounded-xs"></div>

  <!-- Phone Icon -->
  <a
    href=""
    target="_blank"
    class="origin-bottom transition-transform duration-200 ease-out hover:-translate-y-2"
    ><svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_3012_366)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.5095 0.672694C13.8989 0.745934 13.3408 0.969574 12.8838 1.32413C12.4519 1.65925 10.563 3.37673 10.3554 3.62311C9.99534 4.05037 9.81976 4.53751 9.81962 5.10951C9.81948 5.73259 10.023 6.21871 10.5316 6.80985C10.6074 6.89803 10.6807 6.98439 10.6944 7.00173C10.7153 7.02833 10.6847 7.08419 10.4982 7.35875C9.59422 8.68999 8.6902 9.59517 7.37434 10.4866L7.05916 10.7001L6.81432 10.4939C6.51054 10.2381 6.3693 10.1416 6.13392 10.029C5.63016 9.78781 5.08926 9.73771 4.52952 9.88031C4.31866 9.93405 3.96688 10.107 3.76706 10.2551C3.49158 10.4594 1.90788 12.1668 1.36402 12.8458C0.848644 13.4894 0.606144 14.2524 0.675764 15.0114C0.726824 15.568 0.865724 15.9738 1.15392 16.4084C1.35696 16.7146 1.64744 16.9927 2.13346 17.3463C2.35562 17.5079 2.70662 17.772 2.91346 17.9331C3.57092 18.4452 4.04034 18.724 4.62196 18.9475C6.21588 19.5602 7.99916 19.4455 9.50952 18.6331C9.93556 18.404 10.2825 18.1449 11.3195 17.2812C13.3874 15.5591 14.685 14.3091 16.1803 12.5988C17.1453 11.4951 18.1025 10.3274 18.3621 9.93729C19.4657 8.27891 19.6442 6.16551 18.8365 4.31989C18.6249 3.83629 18.3954 3.46777 17.9459 2.88951C17.792 2.69151 17.544 2.36301 17.3949 2.15951C17.0516 1.69125 16.9251 1.54155 16.7388 1.38319C16.2804 0.993494 15.7729 0.767274 15.18 0.688314C14.9874 0.662674 14.6573 0.654974 14.5095 0.672694ZM14.4635 2.12871C14.0842 2.21511 13.8931 2.33039 13.3695 2.78859C12.7616 3.32053 11.5562 4.43157 11.4444 4.56289C11.287 4.74797 11.228 4.95805 11.2607 5.21799C11.2946 5.48817 11.3666 5.59637 11.929 6.22199C12.2697 6.60097 12.3048 6.66365 12.3159 6.91267C12.3257 7.13043 12.3054 7.18475 12.0762 7.55603C10.9697 9.34795 9.82956 10.5525 8.18492 11.6672C7.78204 11.9402 7.35364 12.2069 7.23556 12.2582C7.05578 12.3363 6.82996 12.3275 6.64524 12.2352C6.59654 12.2109 6.42908 12.0744 6.2731 11.9319C5.88308 11.5755 5.6548 11.3878 5.54362 11.3321C5.24018 11.1801 4.83856 11.2192 4.6012 11.4239C4.384 11.6112 3.00026 13.1199 2.55084 13.6595C2.2043 14.0755 2.08112 14.4122 2.10504 14.878C2.1297 15.3581 2.3287 15.7098 2.75104 16.0195C3.00044 16.2024 3.74394 16.7606 4.02854 16.9786C4.28612 17.1759 4.49396 17.3073 4.75392 17.4372C6.10344 18.1116 7.74124 18.0449 9.00952 17.264C9.28754 17.0928 9.39974 17.0064 10.1695 16.3709C12.6912 14.2892 14.0884 12.9015 16.1116 10.4695C16.8492 9.58289 17.0657 9.30699 17.2352 9.03801C17.9711 7.86991 18.1043 6.39397 17.5935 5.06807C17.414 4.60239 17.2508 4.33711 16.7207 3.64951C16.5935 3.48451 16.371 3.18711 16.2261 2.98861C15.8355 2.45327 15.6299 2.27869 15.2495 2.15963C15.0668 2.10245 14.6506 2.08607 14.4635 2.12871Z"
          fill="currentColor"></path>
      </g>
      <defs>
        <clipPath id="clip0_3012_366">
          <rect width="20" height="20" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
</div>
