---
// COMPONENTS //
import Button from "@/components/ui/Button.astro";
import FaqItem from "@/components/ui/FaqItem.astro";
import SectionHeader from "@/components/ui/SectionHeader.astro";

// DATA //
import { faqDetails, sectionHeaderContent } from "@/data/home/faq";
---

<section data-section="Admission FAQ">
  <div class="container mx-auto space-y-10 px-6 py-12 md:py-24">
    <!-- Section header component -->
    <SectionHeader title={sectionHeaderContent.title} />

    <div class="flex flex-col gap-5 lg:flex-row lg:gap-7">
      <!-- Faq wrapper -->
      <div id="faq" class="w-full space-y-2 md:space-y-4">
        {
          faqDetails.map((faq, i) => {
            return (
              <FaqItem
                question={faq.question}
                answer={faq.answer}
                pointers={faq.pointers}
                isOpen={i === 0}
              />
            );
          })
        }
      </div>

      <div
        class="border-n-200 flex h-full w-full flex-col items-center gap-4 rounded-lg border p-6 md:gap-7 md:p-10 lg:w-[50%] lg:p-14 xl:w-[35%]"
      >
        <!-- Icon -->
        <div class="text-orange-500">
          <svg
            class="size-9 md:size-12"
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22.3441 4.78069C18.6833 4.9016 14.0304 5.21269 12.346 5.44914C7.36804 6.14792 3.34785 9.58981 2.45136 13.9203C2.27251 14.7843 1.91174 17.9633 1.75416 20.0643C1.53494 22.9869 1.53475 25.0782 1.75358 27.9603C1.91016 30.0233 2.27635 33.2349 2.45136 34.0803C3.1968 37.6812 6.06844 40.6832 10.0261 41.9987C11.2474 42.4047 12.0705 42.5555 13.9573 42.7189C20.3824 43.2754 24.5251 43.3565 29.8561 43.0301C32.2056 42.8862 34.7874 42.673 35.6542 42.5514C39.337 42.0344 42.5927 39.9868 44.358 37.0772C44.9418 36.115 45.3472 35.1025 45.5482 34.1043C45.7294 33.2054 46.0852 30.0519 46.2469 27.9123C46.465 25.0281 46.4647 22.9799 46.246 20.0643C46.0902 17.9867 45.7254 14.7718 45.5489 13.9203C44.956 11.0595 42.9849 8.51389 40.1481 6.94534C38.8048 6.20264 37.1837 5.66384 35.6399 5.44717C34.4125 5.27485 30.3538 4.97389 27.5761 4.84918C26.4385 4.79811 23.1283 4.75477 22.3441 4.78069ZM21.1921 8.26131C18.1808 8.37042 13.4446 8.73176 12.3883 8.93307C11.1227 9.17427 9.8962 9.66781 8.88009 10.3448C8.43086 10.6441 7.48809 11.4384 7.48809 11.5176C7.48809 11.5658 9.35827 13.2964 10.5841 14.3826C13.6239 17.0763 16.6137 19.4546 19.5176 21.4892C21.2073 22.673 22.3093 23.0589 24.0001 23.0589C25.691 23.0589 26.7933 22.6728 28.4826 21.489C31.3837 19.4559 34.3798 17.0725 37.4161 14.3825C38.64 13.2981 40.5121 11.5658 40.5121 11.5176C40.5121 11.4384 39.5693 10.6441 39.1201 10.3448C38.3746 9.84814 37.3597 9.38374 36.4561 9.12584C35.6141 8.8855 34.6388 8.76608 31.7281 8.54686C27.6339 8.23856 24.3091 8.14846 21.1921 8.26131ZM5.79014 14.8177C5.67744 15.1922 5.29521 18.7688 5.12683 21.0243C5.03131 22.3033 5.04585 25.952 5.15198 27.3363C5.30304 29.3074 5.61182 32.1473 5.78697 33.1769C6.02529 34.5774 6.80659 35.9211 7.99209 36.9692C9.17395 38.014 10.7116 38.7479 12.3883 39.0675C14.0006 39.3747 20.6834 39.7913 24.0001 39.7913C27.3168 39.7913 33.9996 39.3747 35.6119 39.0675C38.3326 38.549 40.5948 36.975 41.6577 34.8611C42.0615 34.0578 42.1874 33.5542 42.3817 31.9643C43.0786 26.2613 43.1291 22.9696 42.5974 17.9043C42.4715 16.705 42.2335 14.86 42.1961 14.7931C42.1705 14.7475 41.898 14.9688 41.2515 15.5606C37.7909 18.7279 34.3929 21.5021 31.0763 23.8678C29.0443 25.3173 28.2113 25.7574 26.7372 26.1597C25.0234 26.6276 22.9768 26.6276 21.2629 26.1597C19.814 25.7642 18.9809 25.3286 17.0291 23.9458C13.8528 21.6955 10.2013 18.7194 6.79209 15.6023C5.7682 14.6662 5.82288 14.709 5.79014 14.8177Z"
              fill="currentColor"></path>
          </svg>
        </div>
        <!-- Text Wrapper -->
        <div class="space-y-1 text-center lg:space-y-3">
          <p class="text-n-600 text-lg font-semibold md:text-3xl">
            Do you have more questions?
          </p>
          <p class="text-xs md:text-base">
            Reach out to us directly and get the clarity you need.
          </p>
        </div>
        <a href="mailto:admissions@saiinternational.edu.in" target="_blank">
          <!-- Button component -->
          <Button text="Shoot us an Email" size="medium" />
        </a>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const accordions = document.querySelectorAll("[data-faq-accordion]");

  const initialHeight = content.scrollHeight;
  accordions.forEach((accordion) => {
    const trigger = accordion.querySelector("[data-accordion-trigger]");
    const content = accordion.querySelector("[data-accordion-content]");
    const arrow = accordion.querySelector("[data-accordion-arrow]");

    trigger.addEventListener("click", () => {
      const isOpen = accordion.getAttribute("data-open") === "true";

      const openHeight = content.scrollHeight;
      

      // Close all accordions first
      accordions.forEach((acc) => {
        acc.setAttribute("data-open", "false");
        acc.querySelector("[data-accordion-content]").style.height = 0;
        acc
          .querySelector("[data-accordion-arrow]")
          .classList.remove("rotate-45");
      });

      // Toggle clicked accordion
      if (!isOpen) {
        accordion.setAttribute("data-open", "true");
        content.style.height = openHeight + "px";
        arrow.classList.add("rotate-45");
      }
    });

    
    // Initialize height if already open (Astro handles the initial rotation)
    if (accordion.getAttribute("data-open") === "true") {
      
      content.style.height = initialHeight + "px";
    } else {
      content.style.height = 0;
    }
  });
</script>
