---
// COMPONENTS //
import EmptyState from "../../components/EmptyState.astro";
import Article from "../../components/Article.astro";
import Hero from "../../components/Hero.astro";
import ResultsCard from "../../components/ResultsCard.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

// OTHERS //
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Hero
    title="A Hero Header can be this big and should be bold."
    subtitle="Admissions, school life, or more — we’re here to help"
    ctaText="Scroll to Admission Form"
    variant="withBg"
    imageName="result-image"
  />
  <EmptyState />
  <Breadcrumbs
    items={[
      { label: "Home", href: "/" },
      { label: "Components Library", href: "/components-library" },
    ]}
  />
  <Article
    title="A Hero Header can be this big and should be bold."
    subtitle="Admissions, school life, or more — we’re here to help"
    eyebrowText="Latest News"
  >
    <h1>Hello</h1>
    <h2>Hello</h2>
    <h3>Hello</h3>
    <h4>Hello</h4>
    <h5>Hello</h5>
    <h6>Hello</h6>
    <p>
      This is a sample paragraph to demonstrate the styling of text within the
      article component. It should reflect the global styles defined for
      paragraphs.
    </p>
    <a href=""> Read more articles </a>
    <ol>
      <li>First item in a list</li>
      <li>Second item in a list</li>
    </ol>
  </Article>
  <div class="mt-10"></div>
  <ResultsCard />
</Layout>
