---
import Hero from "../../components/Hero.astro";
import ResultsCard from "../../components/ResultsCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <!-- <Hero
    title="A Hero Header can be this big and should be bold."
    subtitle="Admissions, school life, or more — we’re here to help"
    ctaText="Scroll to Admission Form"
    variant="withBg"
    imageName="result-image"
  />
  <div class="mt-10"></div>
  <ResultsCard /> -->
</Layout>
