---
export const prerender = true;
// COMPONENTS //
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import ArticleConsumption from "@/components/ui/ArticleConsumption.astro";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// DATA //
import { learning360Content } from "@/data/home/learning-360";

/**
 * Generate static paths
 * @returns Array of static paths
 */
export async function getStaticPaths() {
  const paths: Array<{
    params: {name: string };
    props: {
      learning360Item: any;
    };
  }> = [];

  // Generate paths
  learning360Content.forEach((learning360ContentItem: any) => {
    paths.push({
      params: {
        name: learning360ContentItem.title.toLowerCase().replaceAll(" ", "-"),
      },
      props: {
        learning360Item: learning360ContentItem,
      },
    });
  });

  return paths;
}

const { learning360Item } = Astro.props;

// Prepare breadcrumb items
const breadcrumbItems = [
  { label: "Learning 360", href: "/#learning-360" },
  { label: learning360Item.title, href: `#` },
];

// Prepare section header details
const sectionHeaderDetails = {
  title: learning360Item.title,
  subtitle: learning360Item.description,
};
---

<Layout>
  <!-- Breadcrumbs Section -->
  <div class="bg-n-50 relative w-full overflow-hidden">
    <div
      class="container mx-auto px-6 pt-30 pb-5 md:pt-40 md:pb-8 lg:pb-9 2xl:px-0"
    >
      <Breadcrumbs items={breadcrumbItems} />
    </div>
  </div>
  <ArticleConsumption
    sectionHeaderDetails={sectionHeaderDetails}
    articleDetail={learning360Item}
  />
</Layout>
