---
// COMPONENTS //
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Hero from "@/components/Hero.astro";

// OTHERS //
import Layout from "@/layouts/Layout.astro";

// SECTIONS //
import Affiliations from "@/sections/about/affiliations/Affiliations.astro";

// Prepare breadcrumb items based on personType
const breadcrumbItems = [
  { label: "About", href: "/about/" },
  { label: "Affiliations", href: "/about/affiliations" },
];
---

<Layout>
  <!-- Breadcrumbs Section -->
  <div class="bg-n-100 relative w-full overflow-hidden">
    <div class="container mx-auto px-6 pt-30 md:pt-40 2xl:px-0">
      <Breadcrumbs items={breadcrumbItems} />
    </div>
  </div>
  <Affiliations />
</Layout>
