---
interface Props {
  items: { label: string; href?: string }[];
}

const { items } = Astro.props;
---

<div aria-label="Breadcrumb" class="flex items-center gap-2 md:gap-4">
  <a href="/">
    <div
      class="bg-n-100 flex items-center justify-center rounded-2xl p-2 md:p-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        class="size-3 md:size-4"
      >
        <g clip-path="url(#clip0_4605_3783)">
          <path
            d="M7.09184 1.08047C7.63821 0.70106 8.36022 0.701022 8.90657 1.08047C11.9653 3.20483 13.3956 4.86227 15.1203 7.71105C15.1756 7.80234 15.2042 7.90736 15.2029 8.01406L15.1488 12.4097C15.1485 12.4284 15.1469 12.447 15.1449 12.4655C15.0014 13.7567 13.9837 14.7893 12.6984 14.9398C9.69096 15.2922 6.30688 15.2922 3.29943 14.9398C2.01416 14.7893 0.996406 13.7567 0.853 12.4655C0.850942 12.447 0.849889 12.4284 0.849652 12.4097L0.794965 8.01406C0.793658 7.90736 0.822288 7.80234 0.877554 7.71105C2.60227 4.86217 4.03299 3.20489 7.09184 1.08047ZM8.25423 2.01909C8.09986 1.91199 7.89794 1.91192 7.74363 2.01909C4.87735 4.00976 3.55022 5.52689 1.9395 8.16529L1.99195 12.3578C2.0849 13.1172 2.6872 13.7174 3.43224 13.8048C6.35139 14.1469 9.64647 14.1469 12.5656 13.8048C13.3109 13.7175 13.9131 13.117 14.0059 12.3573L14.0584 8.16585C12.4475 5.52726 11.1206 4.00983 8.25423 2.01909Z"
            fill="#324158"></path>
        </g>
        <defs>
          <clipPath id="clip0_4605_3783">
            <rect width="16" height="16" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
  </a>

  <!-- Breadcrumb Items -->
  {
    items.map((item, index) => (
      <div class="flex items-center gap-2 md:gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="size-3 md:size-[18px]"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.58081 1.21118C5.62536 1.22382 5.83596 1.32415 6.04881 1.43415C8.88506 2.89991 10.6237 4.44359 12.0961 6.80344C12.6433 7.68044 12.7932 7.99025 12.8926 8.44907C12.9499 8.71367 12.9499 9.28621 12.8926 9.55082C12.7932 10.0096 12.6433 10.3195 12.0961 11.1964C10.6109 13.5767 8.80625 15.1682 5.95118 16.6154L5.58238 16.8024L5.43309 16.8018C5.16408 16.8008 4.95949 16.6772 4.84634 16.4474C4.74842 16.2485 4.75206 16.0496 4.85723 15.8528C4.92936 15.7178 5.02731 15.643 5.35612 15.4718C6.40871 14.9239 7.21687 14.434 7.86681 13.9496C9.28059 12.896 10.3017 11.7283 11.2902 10.0349C11.5967 9.50978 11.6378 9.38741 11.6378 8.99994C11.6378 8.61248 11.5967 8.49011 11.2902 7.96494C10.6419 6.85443 10.0414 6.05293 9.2625 5.25855C8.28272 4.25937 7.11355 3.44007 5.39219 2.54642C5.02836 2.35755 4.93073 2.28468 4.85723 2.14713C4.7141 1.87929 4.76835 1.55878 4.99065 1.35893C5.14275 1.22216 5.39597 1.15878 5.58081 1.21118Z"
            fill="#90A2B9"
          />
        </svg>

        {/* Breadcrumb Link */}
        <a
          href={item.href}
          class={`font-secondary text-n-700 max-w-[140px] truncate text-xs text-nowrap md:max-w-[240px] md:text-lg ${
            index === items.length - 1
              ? "font-semibold"
              : "hover:text-n-900 font-light"
          }`}
        >
          {item.label}
        </a>
      </div>
    ))
  }
</div>
