---
// OTHERS //
import { timeAgo } from "@/scripts/date-parser";

interface Props {
  author: string;
  date: string | number;
  readTimeMins?: number;
  onShare?: string;
}

const { author = "", date = "", readTimeMins, onShare } = Astro.props as Props;
const formattedDate = date ? timeAgo(date) : "";
---

<div class="flex w-full flex-col gap-6">
  <!-- Divider Line -->
  <div class="bg-n-300 h-px w-full"></div>
  <!-- Meta Information -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-5 md:gap-24">
      <!-- Icon and Author Name -->
      <div class="flex items-center gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          class="size-3 md:size-5"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.89836 1.36302C6.78338 1.59256 5.34841 2.8502 4.93967 4.83252C4.85981 5.21986 4.82677 5.52488 4.81425 5.99036C4.76767 7.72126 5.26641 9.05 6.29835 9.94438C7.00207 10.5543 7.84018 10.892 8.9519 11.0138C9.24382 11.0457 10.0929 11.0457 10.3848 11.0138C11.6108 10.8795 12.5194 10.4777 13.2518 9.74576C13.9267 9.07132 14.3294 8.18536 14.4816 7.04036C14.5312 6.6673 14.5308 5.68452 14.4809 5.32036C14.3141 4.10278 13.8903 3.21734 13.1368 2.51202C12.4481 1.86732 11.5227 1.4776 10.4039 1.36104C10.0373 1.32284 9.2592 1.32386 8.89836 1.36302ZM9.36836 2.76214C8.79298 2.81164 8.55766 2.8539 8.2023 2.97154C7.67394 3.14646 7.23964 3.43796 6.93266 3.82374C6.61036 4.22874 6.41991 4.6839 6.30645 5.32036C6.25211 5.62526 6.23123 6.3867 6.26745 6.74364C6.39059 7.9573 6.902 8.78784 7.79836 9.22988C8.35196 9.50288 8.84398 9.60036 9.66836 9.60036C10.4927 9.60036 10.9848 9.50288 11.5384 9.22988C12.4144 8.79788 12.9254 7.98952 13.0601 6.82252C13.1061 6.42452 13.091 5.6598 13.0304 5.32036C12.8707 4.4248 12.5265 3.81364 11.9359 3.37682C11.5229 3.07144 10.9346 2.86052 10.3028 2.79144C10.0883 2.768 9.51092 2.74988 9.36836 2.76214ZM9.0014 12.1718C6.49167 12.2856 4.03223 13.0801 1.95835 14.4472C1.08469 15.0231 0.662735 15.7327 0.666035 16.6204C0.668495 17.2882 0.940395 17.9081 1.45611 18.4217C1.89281 18.8566 2.43086 19.1406 3.06836 19.2727L3.29835 19.3204H9.66836H16.0384L16.2684 19.2727C17.3709 19.0442 18.2391 18.3111 18.5569 17.3404C18.7057 16.8859 18.709 16.3605 18.566 15.8973C18.3955 15.3453 18.0033 14.8605 17.4084 14.4663C16.8623 14.1044 16.1749 13.7193 15.6235 13.4663C13.5189 12.5005 11.3032 12.0674 9.0014 12.1718ZM9.00836 13.6027C6.7801 13.73 4.69003 14.4015 2.82835 15.5882C2.36089 15.8863 2.16531 16.1277 2.10569 16.4804C2.08559 16.5992 2.08709 16.6432 2.11563 16.7712C2.18065 17.0631 2.31077 17.2751 2.55383 17.4854C2.80461 17.7023 3.13735 17.8442 3.49835 17.8883C3.75255 17.9193 15.5842 17.9193 15.8384 17.8883C16.5494 17.8015 17.0886 17.3659 17.2211 16.7712C17.2496 16.6432 17.2511 16.5992 17.231 16.4804C17.1714 16.1277 16.9758 15.8863 16.5084 15.5882C15.1174 14.7016 13.5831 14.0953 11.9884 13.8023C11.2105 13.6594 10.6687 13.6093 9.81836 13.6015C9.44436 13.5981 9.07986 13.5986 9.00836 13.6027Z"
            fill="#CC554D"></path>
        </svg>

        <!-- Author Name -->
        <p class="text-n-600 font-secondary text-xs md:text-lg">{author}</p>
      </div>
      <div class="flex items-center gap-5">
        {
          readTimeMins && (
            <>
              <p class="text-n-500 font-secondary text-xs md:text-lg">{`${readTimeMins} min read`}</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="4"
                height="4"
                viewBox="0 0 4 4"
                fill="none"
              >
                <circle cx="2" cy="2" r="2" fill="#62748E" />
              </svg>
            </>
          )
        }
        <!-- Publication Date -->
        {
          formattedDate && (
            <p class="text-n-500 font-secondary text-xs md:text-lg">
              {formattedDate}
            </p>
          )
        }
      </div>
    </div>

    <!-- Share Button -->
    {
      onShare && (
        <button
          class="flex cursor-pointer items-center gap-3"
          onclick={onShare}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            class="size-3 md:size-5"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.89549 1.01975C9.75473 1.06213 9.21297 1.36519 8.85909 1.59953C8.21571 2.02557 7.73621 2.42173 7.12921 3.02873C6.70601 3.45193 6.45595 3.73333 6.14777 4.13307C5.78957 4.59775 5.38135 5.24197 5.18667 5.64981C5.11533 5.79927 5.11035 5.82167 5.11111 5.98981C5.11181 6.14315 5.11987 6.18621 5.16555 6.28055C5.24523 6.44511 5.33959 6.54333 5.49259 6.62091C5.61943 6.68525 5.64109 6.68979 5.81935 6.68953C5.98573 6.68929 6.02445 6.68233 6.12029 6.63541C6.28785 6.55343 6.37961 6.44287 6.58067 6.08073C6.78779 5.70769 6.98031 5.40977 7.22109 5.08981C7.73683 4.40441 8.46071 3.67793 9.16851 3.13541L9.37029 2.98075L9.38029 7.90571L9.39029 12.8306L9.45591 12.9639C9.58111 13.2182 9.81135 13.3634 10.0905 13.3639C10.1677 13.3641 10.2672 13.3533 10.3116 13.34C10.4976 13.2843 10.7078 13.0797 10.7827 12.8813C10.8051 12.8221 10.8107 11.9647 10.8153 7.90481C10.8184 5.20707 10.8267 2.99981 10.8338 2.99981C10.8544 2.99981 11.1483 3.22925 11.4203 3.45767C11.7397 3.72591 12.3514 4.33731 12.623 4.65981C13.0828 5.20579 13.317 5.54983 13.7074 6.25267C13.8313 6.47569 13.9121 6.55933 14.0794 6.63779C14.1747 6.68249 14.217 6.68977 14.3803 6.68949C14.602 6.68913 14.6969 6.65291 14.8599 6.50637C15.0415 6.34305 15.1286 6.05733 15.0679 5.82379C15.0004 5.56385 14.55 4.80841 14.1277 4.24691C13.2092 3.02551 11.9749 1.92931 10.7503 1.24741C10.3581 1.02903 10.2825 1.00049 10.1003 1.00201C10.0178 1.00269 9.92563 1.01067 9.89549 1.01975ZM1.51635 13.5066C1.33089 13.5589 1.18689 13.6761 1.08539 13.8574C0.994865 14.0191 0.980945 14.1766 1.02941 14.4906C1.31087 16.314 2.60181 17.8543 4.35029 18.4527C4.60927 18.5413 4.95853 18.6286 5.21029 18.6676C5.63119 18.7328 7.06027 18.8699 7.93029 18.9285C9.44573 19.0306 10.9308 19.0212 12.4903 18.8997C13.2824 18.838 14.4535 18.7198 14.7903 18.6676C16.7794 18.3594 18.4044 16.8692 18.888 14.9098C18.9624 14.6082 19.0062 14.2905 18.9958 14.1282C18.9796 13.8754 18.8324 13.6685 18.5803 13.5441C18.4853 13.4972 18.4457 13.4898 18.2903 13.4898C18.1319 13.4898 18.096 13.4968 17.9914 13.5482C17.8483 13.6185 17.7203 13.7416 17.6535 13.8734C17.6228 13.934 17.5885 14.0646 17.5624 14.2202C17.5073 14.5489 17.4381 14.8019 17.3315 15.065C16.8809 16.1767 15.8732 17.0061 14.7037 17.228C14.4949 17.2676 14.3292 17.2874 13.6103 17.3585C10.7599 17.6407 9.24063 17.6407 6.39029 17.3585C5.67139 17.2874 5.50567 17.2676 5.29687 17.228C4.31399 17.0415 3.41531 16.4087 2.90697 15.545C2.65509 15.1171 2.52099 14.7333 2.42995 14.1798C2.39017 13.9378 2.33481 13.8133 2.21297 13.6914C2.03647 13.5149 1.75335 13.4398 1.51635 13.5066Z"
              fill="#62748E"
            />
          </svg>
          <p class="text-n-500 font-secondary text-xs md:text-lg">Share</p>
        </button>
      )
    }
  </div>
</div>
