---
// OTHERS //
import { formatDate } from "@/scripts/date-parser";

interface Props {
  author: string;
  date: string | number;
  readTimeMins?: number;
  onShare?: string;
}

const { author = "", date = "", readTimeMins, onShare } = Astro.props as Props;
const formattedDate = date ? formatDate(date) : "";
---

<div class="flex w-full flex-col gap-6">
  <!-- Divider Line -->
  <div class="bg-n-300 h-px w-full"></div>
  <!-- Meta Information -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-5 md:gap-24">
      <!-- Icon and Author Name -->

      <div class="flex items-center gap-5">
        {
          readTimeMins && (
            <>
              <p class="text-n-500 font-secondary text-xs md:text-lg">{`${readTimeMins} min read`}</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="4"
                height="4"
                viewBox="0 0 4 4"
                fill="none"
              >
                <circle cx="2" cy="2" r="2" fill="#62748E" />
              </svg>
            </>
          )
        }
        <!-- Publication Date -->
        {
          formattedDate && (
            <p class="text-n-500 font-secondary text-xs md:text-lg">
              {formattedDate}
            </p>
          )
        }
      </div>
    </div>

    <!-- Share Button -->
    {
      onShare && (
        <button
          class="flex cursor-pointer items-center gap-3"
          onclick={onShare}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            class="size-3 md:size-5"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.89549 1.01975C9.75473 1.06213 9.21297 1.36519 8.85909 1.59953C8.21571 2.02557 7.73621 2.42173 7.12921 3.02873C6.70601 3.45193 6.45595 3.73333 6.14777 4.13307C5.78957 4.59775 5.38135 5.24197 5.18667 5.64981C5.11533 5.79927 5.11035 5.82167 5.11111 5.98981C5.11181 6.14315 5.11987 6.18621 5.16555 6.28055C5.24523 6.44511 5.33959 6.54333 5.49259 6.62091C5.61943 6.68525 5.64109 6.68979 5.81935 6.68953C5.98573 6.68929 6.02445 6.68233 6.12029 6.63541C6.28785 6.55343 6.37961 6.44287 6.58067 6.08073C6.78779 5.70769 6.98031 5.40977 7.22109 5.08981C7.73683 4.40441 8.46071 3.67793 9.16851 3.13541L9.37029 2.98075L9.38029 7.90571L9.39029 12.8306L9.45591 12.9639C9.58111 13.2182 9.81135 13.3634 10.0905 13.3639C10.1677 13.3641 10.2672 13.3533 10.3116 13.34C10.4976 13.2843 10.7078 13.0797 10.7827 12.8813C10.8051 12.8221 10.8107 11.9647 10.8153 7.90481C10.8184 5.20707 10.8267 2.99981 10.8338 2.99981C10.8544 2.99981 11.1483 3.22925 11.4203 3.45767C11.7397 3.72591 12.3514 4.33731 12.623 4.65981C13.0828 5.20579 13.317 5.54983 13.7074 6.25267C13.8313 6.47569 13.9121 6.55933 14.0794 6.63779C14.1747 6.68249 14.217 6.68977 14.3803 6.68949C14.602 6.68913 14.6969 6.65291 14.8599 6.50637C15.0415 6.34305 15.1286 6.05733 15.0679 5.82379C15.0004 5.56385 14.55 4.80841 14.1277 4.24691C13.2092 3.02551 11.9749 1.92931 10.7503 1.24741C10.3581 1.02903 10.2825 1.00049 10.1003 1.00201C10.0178 1.00269 9.92563 1.01067 9.89549 1.01975ZM1.51635 13.5066C1.33089 13.5589 1.18689 13.6761 1.08539 13.8574C0.994865 14.0191 0.980945 14.1766 1.02941 14.4906C1.31087 16.314 2.60181 17.8543 4.35029 18.4527C4.60927 18.5413 4.95853 18.6286 5.21029 18.6676C5.63119 18.7328 7.06027 18.8699 7.93029 18.9285C9.44573 19.0306 10.9308 19.0212 12.4903 18.8997C13.2824 18.838 14.4535 18.7198 14.7903 18.6676C16.7794 18.3594 18.4044 16.8692 18.888 14.9098C18.9624 14.6082 19.0062 14.2905 18.9958 14.1282C18.9796 13.8754 18.8324 13.6685 18.5803 13.5441C18.4853 13.4972 18.4457 13.4898 18.2903 13.4898C18.1319 13.4898 18.096 13.4968 17.9914 13.5482C17.8483 13.6185 17.7203 13.7416 17.6535 13.8734C17.6228 13.934 17.5885 14.0646 17.5624 14.2202C17.5073 14.5489 17.4381 14.8019 17.3315 15.065C16.8809 16.1767 15.8732 17.0061 14.7037 17.228C14.4949 17.2676 14.3292 17.2874 13.6103 17.3585C10.7599 17.6407 9.24063 17.6407 6.39029 17.3585C5.67139 17.2874 5.50567 17.2676 5.29687 17.228C4.31399 17.0415 3.41531 16.4087 2.90697 15.545C2.65509 15.1171 2.52099 14.7333 2.42995 14.1798C2.39017 13.9378 2.33481 13.8133 2.21297 13.6914C2.03647 13.5149 1.75335 13.4398 1.51635 13.5066Z"
              fill="#62748E"
            />
          </svg>
          <p class="text-n-500 font-secondary text-xs md:text-lg">Share</p>
        </button>
      )
    }
  </div>
</div>
